.row.episode
  .span12
    %h2 High Altitude News Episode 1: Head In The Clouds
    %object{:height => "10", :width => "100%"}
    %param{:name => "High Altitude News", :value => "https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F30457130"}
    %param{:name => "allowscriptaccess", :value => "always"}
    %embed{:allowscriptaccess => "always", :height => "81", :src => "https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F30457130", :type => "application/x-shockwave-flash", :width => "100%"}
    %h2 Show Notes:
    %h3 Introductions: 
    %p Host: Manearion
    %p Guest/Co-host: Zeeraw
    %dl
    %h3 Mail:
    %p Yeah…
    %dl
    %h3 Collabs:
    %p Steampunk Wings, because AWESOME!  
    %a{:href => "http://www.ponychan.net/chan/collab/res/29284.html", :target => "_blank"} http://www.ponychan.net/chan/collab/res/29284.html
    %p MLP: FiM RPG
    %a{:href => "http://www.ponychan.net/chan/collab/res/29290.html", :target => "_blank"} http://www.ponychan.net/chan/collab/res/29290.html
    %p Brony Online Band: Similar to Beatle Bronies or real life Eric Witacre
    %a{:href => "http://www.ponychan.net/chan/collab/res/27617.html", :target => "_blank"} http://www.ponychan.net/chan/collab/res/27617.html
    %dl
    %h3 Music Spotlight:
    %p Scarlett Peace.
    %a{:href => "http://www.youtube.com/user/SonicRainboom20", :target => "_blank"}  http://www.youtube.com/user/SonicRainboom20
    %dl
    %h3 News:
    %p Drawfriend stream:
    %a{:href => "http://www.fimfiction.net/drawfriendstreams/", :target => "_blank"}  http://www.fimfiction.net/drawfriendstreams/
    %p Fimchan thread:
    %a{:href => "http://fim.413chan.net/", :target => "_blank"}  http://fim.413chan.net/
    %dl
    %h3 Outro music:
    %p Discords World - Scarett Peace
    %a{:href => "http://www.youtube.com/user/SonicRainboom20#p/a/u/1/SYqDHaje6iY", :target => "_blank"}  http://www.youtube.com/user/SonicRainboom20#p/a/u/1/SYqDHaje6iY