.row.episode
  .span12
    %h3 High Altitude News Episode 1: Head In The Clouds
    %object{:height => "10", :width => "100%"}
    %param{:name => "High Altitude News", :value => "https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F30457130"}
    %param{:name => "allowscriptaccess", :value => "always"}
    %embed{:allowscriptaccess => "always", :height => "81", :src => "https://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F30457130", :type => "application/x-shockwave-flash", :width => "100%"}
