- if (Date.parse('2012-04-20')..Date.parse('2012-04-27')).include?(Date.today)
  .row
    .span16
      = link_to "http://s3.amazonaws.com/kony2012/kony_5.html", target: :_blank, data: { :'skip-pjax' => true } do
        = image_tag "artwork/kony2012-banner.jpg", style: 'margin-bottom: 20px;'