.row.note
  .span12
    .alert-message.block-message.info
      %p
        %strong= "Did you know there's a new feature called Clouds? With clouds you can easily set up an environment for you and your fellow bronies to share and communicate, right here on Cloudsdale.org! We suggest you check out the feature ASAP as the one who uses it becomes about 20 % cooler."
      .alert-actions
        = link_to "Create Cloud", new_cloud_path, :class => 'btn info'