-# #left_column
-#   #connected_accounts
-#     %h4.title Connected with
-#     %ul
-#       - @authentications.each do |authentication|
-#         %li= link_to image_tag("icons/cloud/#{authentication.provider}_cloud.png"), authentication_path(authentication), :method => :delete
-#       - auth_providers = @authentications.map {|a| a.provider }
-#       - unless auth_providers.include?("facebook")
-#         %li.not_connected= link_to image_tag("icons/cloud/facebook_cloud.png"), "/auth/facebook"
-#       - unless auth_providers.include?("twitter")
-#         %li.not_connected= link_to image_tag("icons/cloud/twitter_cloud.png"), "/auth/twitter"
-#         
-#   #available_ponies
-#     %h4.title Your Ponies
-#     %ul
-#       - current_user.ponies.each do |pony|
-#         %li.pony{ :class => "#{pony == current_pony ? 'current' : ''}"}
-#           %h3.name= pony.name
-#           %img
-#           %h5.type= pony.kind.capitalize
-#           %h5.group= pony.group.capitalize
-# 
-# #center_column
-#   
-# #right_column
-#   #dashboard_navigation
-#     %h4.title My Dashboard
-#     %ul
-#       %li= link_to "Account", edit_user_path(current_user), :remote => true