.page-header
  %h1
    .avatar-container
      = image_tag current_user.avatar.url
    = "Your Dropzone" 
.dropzone
  .row
    .span16
      = render partial: 'drops/form', locals: { with_path: drops_path }
            
  .row
    .span16
      %ul.drop-list
        = render partial: 'drops/list_content'
      