.dropzone
  .row
    .span16
      = render partial: 'drops/form', locals: { with_path: drops_path }
            
  .row
    .span16
      %ul.drop-list
        = render partial: 'drops/list_content'
      