%html
  %head
    = stylesheet_link_tag "application"
  %body
    %center
      = image_tag "logo/cloudsdale-logo-medium.png", style: "margin-top: 70px;"
      %h3{ style: "margin: 20px 0; text-shadow: 1px 1px 1px rgba(255,255,255,1);"} Cloudsdale is undergoing maintenance we will be back in due time