.bundle
db/*.sqlite3
log/*.log
log/worker/*.log
tmp/
.sass-cache/
.DS_Store*
db/data/mongodb/*
/dump.rdb
secret.txt
public/assets
tmp/cache
tmp/pids
tmp/sessions
tmp/sockets
public/uploads
.DS_Store

db/data/mongodb/mongod.lock
app/.DS_Store

doc/*
.yardoc
