.rvmrc
.bundle
db/*.sqlite3
log/*.log
log/worker/*.log
tmp/
.sass-cache/
.DS_Store

db/data/db
/dump.rdb
secret.txt
public/assets
tmp/cache
tmp/pids
tmp/sessions
tmp/sockets
public/uploads
config/application.yml

doc/*
.yardoc

*.dump
/config/cert/cloudsdale.org.key
/config/cert/cloudsdale.org.cert
*.psd
*.ai

/profile.html
*.sublime-workspace
*.sublime-project

/.rspec
/app/assets/images/icons/mud/
Thumbs.db

config/skylight.yml
node_modules