<div class="main-header">
  <div class="row">
    <div class="small-12 large-12 columns">

      <div class="right">
        <a {{action 'add'}} ><i class="action-icon-add"></i></a>
      </div>

      {{!--
      <div class="left avatar small content-color pad-right">
        <img {{bindAttr src="model.topic.avatar"}} />
      </div> --}}
      <h1>{{model.topic.displayName}}</h1>
    </div>
  </div>
</div>
