<span {{bindAttr class="topic.type + '-conversation'"}}>
  <img class="avatar left" {{bindAttr src="view.image"}}</img>
  {{#linkTo 'conversation.index' topic.handle}}{{topic.displayName}}{{/linkTo}}
</span>