<header style="text-align: center;">
  <center>
    <img class="avatar medium" {{bindAttr src="model.avatar" }}/>
  </center>
  <h5 style="color: white;" >{{model.displayName}}</h5>
  <h5 style="color: white;" >@{{model.username}}</h5>
</header>