 <div>
  {{#linkTo 'root' class=left}}
    <span class="avatar small meld-main" />
      <img {{bindAttr src="model.user.avatar" }}/>
    </span>
  {{/linkTo}}
  <hgroup>
    <h4>{{model.user.displayName}}</h4>
    <h5>@{{model.user.username}}</h5>
  </hgroup>
</div>