 <div>
  {{#link-to 'root' class="left"}}
    <span class="avatar small" />
      <img {{bindAttr src="currentUser.avatar" }}/>
    </span>
  {{/link-to}}
  <hgroup>
    <h4>{{#link-to 'root' class=left}}{{currentUser.displayName}}{{/link-to}}</h4>
  </hgroup>
</div>