#users_chart{ data: { start_date: @d1.to_i * 1000, end_date: @d2.to_i * 1000, total_users: @total_users, new_users: @new_users } }
= javascript_include_tag "inline/statistics"
//%h1= @users.first.character.gender