<div class="row">
  <div class="small-12 large-12 columns">

    <div class="right">
      <a href="/logout" ><i class="action-icon-off"></i></a>
    </div>

    <h1>Welcome to Cloudsdale, {{currentUser.displayName}}!</h1>
  </div>
</div>