%h3 THIS IS JUST A PREVIEW OF THE NOTIFICATION SYSTEM
%a.notification.unread{ href: "http://www.cloudsdale.org" }
  %h5.actor Twilight Sparkle
  %p.description Has uploaded a new Fanfic called "Cupcakes"
  %p.time Less then a minute ago
  
%a.notification{ href: "http://www.cloudsdale.org" }
  %h5.actor Princess Celestia
  %p.description Has risen the Sun over Equestria.
  %p.time About three minutes ago

%a.notification{ href: "http://www.cloudsdale.org" }
  %h5.actor Rainbow Dash
  %p.description Has perfected her Sonic Rainboom.
  %p.time About two hours ago