<div class="row">
  <div class="small-12 large-12 columns">

    <div class="right">
      {{#link-to 'conversation.index' model.handle}}<i class="action-icon-chat"></i>{{/link-to}}
      {{#link-to 'conversation.info'  model.handle}}<i class="action-icon-info"></i>{{/link-to}}
      {{#link-to 'conversation.share' model.handle}}<i class="action-icon-share"></i>{{/link-to}}

      {{#if 'hasAccess' }}
        <a {{action 'remove'}} ><i class="action-icon-remove"></i></a>
      {{/if}}

      {{#if 'needsAccess' }}
        <a {{action 'add'}} ><i class="action-icon-add"></i></a>
      {{/if}}
    </div>

    <h1>{{title}}</h1>
  </div>
</div>