.large-12.columns
  .content-panel
    .content-panel-inner
      %h3= "Cloudsdale Dashboard"
      %h5.subheader= "Here you can find Cloudsdale administration tools and find out interesting statistics."

