development: &defaults

  GEOIP_CITY: /usr/local/share/GeoIP/GeoLiteCity.dat

  API_V2_HOST: http://api.cloudsdale.dev
  API_V2_CORS: http://beta.cloudsdale.dev https://beta.cloudsdale.dev http://www.cloudsdale.dev https://www.cloudsdale.dev

  SESSION_KEY: .cloudsdale.dev

  CDN_ALIAS: cloudsdale
  CDN_SECRET: a2a1710c0803a98faacb370e297a5a7a
  CDN_KEY: 34e6b64511c260329d44927bcd4a09b90519be1ff
  CDN_AVATAR_ZONE_ID: "96822"
  CDN_AVATAR_ZONE_TYPE: pull

  EMAIL_HOST: mail
  EMAIL_PORT: "1025"
  EMAIL_URL_HOST: www.cloudsdale.dev
  EMAIL_URL_PORT: "8080"

  YOUTUBE_DEV_KEY: AI39si4HazJyHrwMi9zVHSTJRgMMnndNL5gfZz9nVAuNIoFndhb5J5rdO97FKrnJox_V0bVTcs3bOfes7yyW_Rylkvhtly2y_g

  GITHUB_CLIENT_ID: b47fc28f752aaa49c583
  GITHUB_CLIENT_SECRET: b31ba47d6d555cea720ce7493192879f61f6162a

  TWITTER_CONSUMER_KEY: mHnUVYK5NUfk0IHbqruZcA
  TWITTER_CONSUMER_SECRET: Jlz13rBFDrPMKvr5EcWmNHaB6YwYHH1FCCASGFdOSkY

  FACEBOOK_APP_KEY: "213007855430354"
  FACEBOOK_APP_SECRET: 442e0c7b6e1c2c26c0ef04fa1feb173c

  UPLOADER_STORAGE: file

  RACKSPACE_CLOUDFILES_USERNAME: zeeraw
  RACKSPACE_CLOUDFILES_API_KEY: fb02d3d2336d887b81c7401d522ea393
  RACKSPACE_CLOUDFILES_FOG_DIRECTORY: cloudsdale_development_uploads
  RACKSPACE_CLOUDFILES_FOG_HOST: https://c775851.ssl.cf2.rackcdn.com

  ASSET_URL: http://www.cloudsdale.dev:8080
  ASSET_FOG_BUCKET: cloudsdale_development_assets

  URL: http://www.cloudsdale.dev:8080

  AVATAR_HTTP: http://avatar.cloudsdale.dev:8080
  AVATAR_HTTPS: http://avatar.cloudsdale.dev:8080

  REDIS_URL: redis://redis:6379/0
  AMQP_URL: amqp://admin:pass@rabbit
  MONGO_URL: mongodb://mongo:27017/cloudsdale
  MEMCACHED_URL: memcached://admin:pass@memcached:11211/cloudsdale

  FAYE_HTTP_URL: http://push.cloudsdale.dev:8282/push
  FAYE_HTTPS_URL: http://push.cloudsdale.dev:8282/push
  FAYE_TOKEN: 650659cd4801877e56a176d70dcd4851fa4c86327b3b9439fef2fbf77543b8e2
