<div id="container">
  {{view Cloudsdale.SidebarView}}
  <div class="main bg-main">
    <div class="main-inner">
      <div class='main-header'>{{outlet header}}</div>
      <div class='main-content'>{{outlet main}}</div>
    </div>
  </div>
</div>