<div class="row">
  <div class="small-12 large-12 columns">
    <div class="row">
      <div class="small-12 large-12 pull-0 columns">
        <h6>Today's Spotlights:</h6>
        <div class="row">
          {{#each spotlights}}
            {{view Cloudsdale.Gaze.SpotlightView contentBinding=this}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>