<div class="row">
  <div class="small-12 large-12 columns">
    <div class="row">
      <div class="small-12 large-3 push-9 columns">
        <h6>Categories</h6>
        <div class="content-panel">
          <div class="content-panel-inner panel-expand">
            <ul class="panel-side-nav" style="padding: 0;">
              <li>{{#linkTo 'gaze.category' "casual"}}Casual{{/linkTo}}</li>
              <li>{{#linkTo 'gaze.category' "podcast"}}Podcast{{/linkTo}}</li>
              <li>{{#linkTo 'gaze.category' "roleplay"}}Roleplay{{/linkTo}}</li>
              <li>{{#linkTo 'gaze.category' "livestream"}}Livestream{{/linkTo}}</li>
              <li>{{#linkTo 'gaze.category' "education"}}Education{{/linkTo}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="small-12 large-9 pull-3 columns">
        <h1>foo</h1>
        <hr/>
      </div>
    </div>
  </div>
</div>