<div class="row">
  <div class="12-large 12-small columns">
    {{!-- <a class="scroll-to-bottom" {{action 'scrollToBottom' target="view"}}></a> --}}
    {{textarea value=currentMessage.content}}
  </div>
</div>