<div class="small-12 large-12 columns">
  <div class="panel clearfix">
    <div class="left avatar small content" style="margin-right: 10px;">
      <img {{bindAttr src="avatar"}} />
    </div>
    <h6>{{name}} <small>@{{handle}}</small></h6>
    <p>{{text}}</p>
  </div>
</div>