<div class="messages">
  {{#each this}}
    {{render 'message' this.content}}
  {{/each}}
</div>

<form class="new-message" {{action 'saveMessage' on='submit'}}>
  <div class="row">
    <div class="12-large 12-small columns">
      {{textarea value=currentMessage.content}}
    </div>
  </div>
</form>