<div class="small-12 large-12 columns">
  <div>
    <div class="left avatar small content" style="margin-right: 10px;">
      {{#link-to 'messages' handle}}<img {{bindAttr src="avatar"}} />{{/link-to}}
    </div>
    <h6>{{#link-to 'messages' handle}}{{name}} <small>@{{handle}}</small>{{/link-to}}</h6>
    <p>{{{text}}}</p>
  </div>
</div>