<div class="row">
  <div class="large-8 small-12 large-centered columns">
    <br />
    <div class="row">
      <div class="small-3 large-3 columns">
        <span class="avatar medium offline"><img {{bindAttr src="avatar" }}/></span>
      </div>
      <div class="small-3 large-3 columns">
        <h6>Subscription</h6>
        <div class="panel">Free</div>
      </div>
      <span class="divider">
      <div class="small-3 large-3 columns">
        <h6>Conversations</h6>
        <div class="panel">1</div>
      </div>
      <div class="small-3 large-3 columns">
        <h6>Role</h6>
        <div class="panel">Staff</div>
      </div>
    </div>
    <hr />
  </div>
</div>