<div class="row">
  <div class="large-8 small-12 large-centered columns">
    <br />
    <div class="row">
      <div class="small-16 large-16 columns">
        <h4>Welcome to Cloudsdale, {{model.displayName}}!</h1>
        <hr />
      </div>
    </div>
  </div>
</div>