<div class="row">
  <div class="large-8 small-12 large-centered columns">
    <br />
    <div class="row">
      <div class="small-12 large-12 columns">
        hello world
      </div>
    </div>
    <hr />
  </div>
</div>