%header
  %span.icon
    - favicon_src = !drop.src_meta["favicon"].nil? ? drop.src_meta["favicon"] : 'icons/iconic/gray_dark/180_map_pin_fill_16x16.png'
    = image_tag favicon_src, class: drop.src_meta["favicon"].nil? ? 'default' : ''
  = link_to truncate(drop.title, :length => 60), drop.url, target: '_blank', data: { 'skip-pjax' => true }

.drop-content
  = link_to drop.url, drop.url, target: '_blank', data: { 'skip-pjax' => true }