.row
  .large-7.columns
    %h2= "Cloudsdale Developer Portal"
    %h4.subheader= "Welcome to the most sophisticated app developer community for bronies. Here you can integrate your service with Cloudsdale and make use of our API's to make your app better!"

/ .row
/   .large-4.columns
/     .content-panel
/       .content-panel-inner.panel-expand
/   .large-4.columns
/     .content-panel
/       .content-panel-inner.panel-expand
/   .large-4.columns
/     .content-panel
/       .content-panel-inner.panel-expand
