.content-panel
  .content-panel-inner.panel-expand
    %ul.panel-side-nav{ style: 'padding: 0;'}
      = docs_sidebar_link_to 'Introduction', 'introduction'
      = docs_sidebar_link_to 'Universal Avatars', 'universal-avatars'
      = docs_sidebar_link_to 'oAuth Authentication', 'oauth-authentication'
