%br
.row
  .large-6.large-centered.columns
    %br
    .content-panel
      .content-panel-inner.panel-expand
        %br
        .row
          .large-8.small-12.large-centered.columns
            %center
              %br
              %h3.subheader= "We're so sorry, it looks like we cannot connect that account right now."
              %h5.subheader= "Try again and contact us if you have any more troubles. You can also use register a new account using the links below."

        = render 'layouts/auth_nav', show_register: true, show_forgot_password: true
