@import "mixins"
@import "cloudsdale_foundation"

.content-panel, .content-panel-inner
  @include border-radius(2px)
  @include clearfix
.content-panel
  background: #efefef

.content-panel-inner
  background: #fff
  margin: 4px
  padding: 20px
  border: 1px solid #d8d8d8
