@each $vendor in "", -webkit-, -moz-, -o-

  @-webkit-keyframes slideInRainbar
    0%
      bottom: 100%
    90%
      bottom: -1%
    100%
      bottom: 0

  @-webkit-keyframes appearCloudTrigger
    0%
      +opacity(0)
      #{$vendor}transform: scale(.5)
    60%
      +opacity(1)
      #{$vendor}transform: scale(1.1)
    100%
      +opacity(1)
      #{$vendor}transform: scale(1)
  
  @-webkit-keyframes removeLoadFrame
    0%
      +opacity(1)
      visibility: visible
    99%
      +opacity(0)
      visibility: visible
    100%
      +opacity(0)
      visibility: hidden


@-webkit-keyframes slideAndFadeInFloatContainer
  0%
    margin-bottom: -40px
    +opacity(0)
  70%
    +opacity(1)
  100%
    margin-bottom: 0
    +opacity(1)

@-moz-keyframes slideAndFadeInFloatContainer
  0%
    margin-bottom: -40px
    +opacity(0)
  70%
    +opacity(1)
  100%
    margin-bottom: 0
    +opacity(1)

@keyframes slideAndFadeInFloatContainer
  0%
    margin-bottom: -40px
    +opacity(0)
  70%
    +opacity(1)
  100%
    margin-left: 0
    +opacity(1)