//*= require_self
//*= require farbtastic
@import "bootstrap/reset"
@import "bootstrap/variables"

// Links
$linkColor:         #66CCFF
$linkColorHover:    darken($linkColor, 10%)

// Colors
$green: #009900
$red: #FF0000

@import "bootstrap/mixins"
@import "bootstrap/scaffolding"
@import "bootstrap/type"
@import "bootstrap/forms"
@import "bootstrap/tables"
@import "bootstrap/patterns"

@import "token-input-facebook"

html
  background: #72C3E8
  background-image:  image-url("background.png")
  background-position: 50% top
  background-repeat: no-repeat
body
  background: none !important
  padding-top: 40px !important
  padding-bottom: 100px

.topbar
  .fill
    .container
      .secondary-nav
        li.img
          a
            padding: 5px 5px
            line-height: 0
            img
              max-width: 30px
              max-height: 30px
              margin: 0
              padding: 0
      a.brand
        margin-left: 0px
        &:hover
          text-decoration: none
          color: $linkColor
    
.container
  .alert-message
    margin: 15px 0
    
    &.hidden
      background: none
      height: 20px
      border: none
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .0)
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .0)
      box-shadow: 0 1px 2px rgba(0, 0, 0, .0)
    
  .page-header
    -webkit-border-radius: 6px 6px 0 0
    -moz-border-radius: 6px 6px 0 0
    border-radius: 6px 6px 0 0
    background: #F0F6FF
    h1
      padding: 20px 20px 10px 20px
    
  .content
    padding-bottom: 20px
    background: #fff
    -webkit-border-radius: 6px 6px 6px 6px
    -moz-border-radius: 6px 6px 6px 6px
    border-radius: 6px 6px 6px 6px
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15)
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15)
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15)
    
img.link_icon
  float: left
  margin-right: 10px

footer
  border-top: none !important
  p
    font-weight: bold
    text-align: center
    color: #525252

.online
  color: $green
.offline
  color: $red

.block-message.alert-message.markdown-guide
  h5
    padding-bottom: 10px
    padding-top: 5px
  p
    strong
      padding-left: 5px
      padding-bottom: 5px
  li
    li
      padding-left: 10px
      
a.btn.dashboard
  margin: 0px
  padding: 10px 20px 10px 10px
  width: 168px
  text-align: right
  font-weight: bold
  line-height: 40px
  color: #6CF
  text-shadow: 0 0 0.2em rgba(255, 255, 255, 0.7), 0 0 0.05em rgba(20, 20, 20, 0.7) !important
  img
    float: left

form
  div.clearfix.error
    background: transparent
    padding: 10px 0 0 0
    margin-bottom: 18px
      
@import "bottombar"

@import "users"
@import "main"
@import "sessions"
@import "authentications"
@import "articles"







