@import "config/*"

body
  #wrapper
    #content
      padding: 0
      background: #B0ECE8 image-url("artwork/pinkie_pie_talk.png") no-repeat center top
      
      ul#chat_menu
        float: left
        height: 30px
        width: 760px
        margin: 10px 0 0 10px
        padding: 0
        list-style: none inside
        
        li
          float: left
          font-family: "CelestiaMediumRedux"
          margin: 0 10px 0 0
          background-color: #FFF
          padding: 0 5px 3px 5px
          @include rounded_corners(3px,3px,3px,3px)
          cursor: pointer
          
          &.active
            color: $color-teal-dark
          
          a.disconnect
            img
              float: right
              margin: 5px 0 0 4px
      
      #chat_sidebar
        float: right
        width: 230px
        margin: 10px
        height: 480px
        background: rgba(255,255,255,0.9)
        @include rounded_corners(3px,3px,3px,3px)
        @include box_shadow(#FFFFFF,20px)
        
        ul.online_list
          width: 230px
          list-style: none inside
          padding: 0
          margin: 0
          display: none
          &.active
            display: block
          lh
            font-family: "CelestiaMediumRedux"
            font-size: 18px
            margin: 5px 10px
            width: 210px
          li
            font-weight: bold
            font-size: 14px
            margin: 5px 10px
            width: 205px
            padding-left: 5px
        
      #chat_bar
        float: left
        width: 760px
        margin: 10px 0px 0px 10px
        height: 40px
        background: rgba(255,255,255,0.9)
        @include rounded_corners(3px,3px,3px,3px)
        @include box_shadow(#FFFFFF,20px)
        
        input[type=text]
          width: 650px
          margin: 8px 0px 8px 8px
        input[type=submit]
          width: 75px
          margin: 6px
          float: right
      
      #chat_frame
        float: left
        height: 400px
        width: 760px
        margin: 0px 0px 0px 10px
        
        .room_frame
          float: left
          height: 400px
          width: 760px
          overflow-y: auto
          overflow-x: hidden
          display: none
          
          &.active
            display: block
          
          .deadzone
            height: 400px
        
        .message
          width: 740px
          float: left
          margin-bottom: 5px
          
          .sender
            float: left
            color: #FFF
            font-weight: bold
            padding: 0 0px
            text-align: left
            font-size: 16px
            font-family: "CelestiaMediumRedux"
            font-weight: bold
            
          .content
            float: right
            width: 740px
            margin-top: 2px
            
            p
              font-size: 12px
              float: left
              background-color: #FFF
              padding: 3px 4px
              margin: 0
              min-width: 80px
              @include rounded_corners(3px,3px,3px,3px)
              a
                color: blue
                font-weight: bold
                img
                  vertical-align: middle
                  text-align: right
                  margin-left: 3px
              
              span.time
                font-weight: bold
                color: black
