@-webkit-keyframes slideInInspect
  0%
    height: 0px
  100%
    height: 40px

@-moz-keyframes slideInInspect
  0%
    height: 0px
  100%
    height: 40px

@keyframes slideInInspect
  0%
    height: 0px
  100%
    height: 40px


.cloud-head
  padding: 10px
  // border-bottom: rgba(0,0,0,.3) 1px dashed
  .float-left
    margin-bottom: 0
    img
      height: 100px
      width: 100px
      +border-radius(10px)
  
  p, h2
    margin-left: 110px
    word-wrap: break-word

.cloud-nav
  margin: 0 -2px
  border: rgba(0,0,0,.3) solid 1px
  background: #99CCFF 
  position: relative
  +border-radius(2px)
  
  background: rgb(63,133,179) $bgNoise
  background: $bgNoise, url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmODViMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzYzYTBkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjg1YjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)
  background: $bgNoise, -moz-linear-gradient(left,  rgba(63,133,179,1) 0%, rgba(99,160,208,1) 50%, rgba(63,133,179,1) 100%)
  background: $bgNoise, -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(63,133,179,1)), color-stop(50%,rgba(99,160,208,1)), color-stop(100%,rgba(63,133,179,1)))
  background: $bgNoise, -webkit-linear-gradient(left,  rgba(63,133,179,1) 0%,rgba(99,160,208,1) 50%,rgba(63,133,179,1) 100%)
  background: $bgNoise, -o-linear-gradient(left,  rgba(63,133,179,1) 0%,rgba(99,160,208,1) 50%,rgba(63,133,179,1) 100%)
  background: $bgNoise, -ms-linear-gradient(left,  rgba(63,133,179,1) 0%,rgba(99,160,208,1) 50%,rgba(63,133,179,1) 100%)
  background: $bgNoise, linear-gradient(left,  rgba(63,133,179,1) 0%,rgba(99,160,208,1) 50%,rgba(63,133,179,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f85b3', endColorstr='#3f85b3',GradientType=1 )
  
  +box-shadow(0px,2px,5px,rgba(0,0,0,.3))
  
  ul.cloud-nav-inner
    text-align: center
    padding: 10px 2px
    margin: 3px 3px
    border-top: rgba(255,255,255,.7) 1px dashed
    border-bottom: rgba(255,255,255,.7) 1px dashed
    list-style: none
    li
      background: none
      float: none
      display: inline
      color: rgba(255,255,255,1)
      &.active, &:hover
        a
          color: inherit
          background: none
          border: none
          text-decoration: none
          &:hover
            color: inherit
        i
          +opacity(1)
      a
        border: none
        padding: 0
        font-weight: bold
        margin: 0 10px
        color: rgba(255,255,255,.7)
        text-shadow: -1px -1px 1px rgba(0,0,0,.3)
        i
          +opacity(.7)

.cloud-content
  margin: 169px 5px 0 5px
  display: inline-block
  position: absolute !important
  width: auto
  top: 0
  bottom: 0
  left: 0
  right: 0

.chat-container
  &.expanded-sidebar
    a.sidebar-toggle
      background-image: image-url("icons/glyphicons/black/step_forward.png")
      background-image: none, image-url("icons/glyphicons/black/step_forward.svg"), image-url("icons/glyphicons/black/step_forward.png")
    @media (min-width: $ipad-min) and (max-width: $desktop-s-max)
      .chat-wrapper
        display: none
      .chat-sidebar
        display: block
        float: none
        width: auto
        border-left: 0
        margin-left: 1px
        background: #F8F8F8
      .chat-sidebar-header
        span.chat-sidebar-online-count
          display: inline-block
      ul.chat-online-list li a
        padding: 3px
        span
          display: inline-block
          font-size: 15px
        img
          +border-radius(3px)
      
.chat-sidebar
  position: relative
  float: right
  height: 100%
  border-left: rgb(255,255,255) solid 1px
  background: #f0f0f0
  @media (min-width: $ipad-min) and (max-width: $desktop-s-max)
    width: 49px
  @media (min-width: $desktop-m-min) and (max-width: $desktop-m-max)
    width: 200px
  @media (min-width: $desktop-l-min)
    width: 300px

.chat-sidebar-header
  margin-left: -1px
  padding-left: 1px
  border-bottom: 1px solid $color-border-light
  +linear-gradient(#ffffff,#f8f8f8)
  @media (min-width: $ipad-min) and (max-width: $desktop-s-max)
    height: 50px
    span.chat-sidebar-online-count
      display: none
    a.sidebar-toggle
      display: inline-block
        
  @media (min-width: $desktop-m-min)
    height: 36px
    span.chat-sidebar-online-count
      display: inline-block
    a.sidebar-toggle
      display: none
      
span.chat-sidebar-online-count
  float: right
  font-weight: bold
  font-size: 11px
  @media (min-width: $ipad-min) and (max-width: $desktop-s-max)
    margin-right: 10px
    line-height: 50px
    span.n, i
      margin-right: 5px
  @media (min-width: $desktop-m-min)
    margin-right: 5px
    line-height: 36px
    span.n, i
      margin-right: 3px
    
a.sidebar-toggle
  float: left
  background-image: image-url("icons/glyphicons/black/step_backward.png")
  background-image: none, image-url("icons/glyphicons/black/step_backward.svg"), image-url("icons/glyphicons/black/step_backward.png")
  background-size: 40% 40%
  background-position: center center
  background-repeat: no-repeat
  +opacity(.5)
  @media (min-width: $ipad-min) and (max-width: $desktop-s-max)
    line-height: 44px
    height: 44px
    width: 44px
    margin: 3px 3px 3px 2px
  @media (min-width: $desktop-m-min)
    line-height: 32px
    height: 32px
    width: 32px
    margin: 2px

ul.chat-online-list
  position: absolute
  bottom: 0
  right: 0
  left: 0
  list-style: none outside
  padding: 0 0 0 0
  margin: 0 0 0 -1px
  overflow: hidden
  @media (min-width: $ipad-min) and (max-width: $desktop-s-max)
    top: 51px
  @media (min-width: $desktop-m-min)
    top: 37px
  li
    &:not(:first-child)
      border-top: 1px solid rgba(255,255,255,.8)
    a
      display: block
      float: none
      border-bottom: 1px solid $color-border-light
      line-height: 24px
      font-size: 12px
      font-weight: bold
      color: #4C4C4C
      text-shadow: 1px 1px 1px rgba(255,255,255,.9)
      @media (min-width: $ipad-min) and (max-width: $desktop-s-max)
        padding: 0
        height: 50px
        img
          width: 50px
          height: 50px
        span
          display: none
        
      @media (min-width: $desktop-m-min)
        padding: 3px
        img
          width: 24px
          height: 24px
        span
          display: inline
          
      &:hover
        text-decoration: none
        background: rgba(255,255,255,.3)
    
  
.chat-wrapper
  position: relative
  height: 100%
  border-right: $color-border-light solid 1px
  background: #F8F8F8
  @media (min-width: $ipad-min) and (max-width: $desktop-s-max)
    margin-right: 50px
  @media (min-width: $desktop-m-min) and (max-width: $desktop-m-max)
    margin-right: 201px
  @media (min-width: $desktop-l-min)
    margin-right: 301px

.chat-dialog
  position: absolute
  left: 0
  right: 0

  padding: 10px
  
  background: rgb(229,232,239)
  +linear-gradient(rgb(229,232,239),rgb(199,207,216))
  // background-color: rgba(229,232,239,1)
  
  border-bottom: 1px solid $color-border-heavy
  
  z-index: 1
  
  background-size: 100% auto
  background-position: center center
  background-repeat: repeat-x
  
  @media (max-width: $ipad-max)
    img
      display: none
  @media (min-width: $desktop-s-min)
    img
      float: left
      border: 1px solid $color-border-dark
      margin-right: 10px
  
  h2
    text-shadow: 1px 1px 0 rgba(255,255,255,.7)
    
  h2, p
    color: #444
    span
      font-weight: bold

.chat-dialog-timer
  float: left
  padding: 5px
  margin-right: 7px
  
  height: 22px
  width: 22px
  
  line-height: 22px
  color: #333
  text-shadow: 1px 1px 0 rgba(255,255,255,.9)
  font-size: 14px
  text-align: center
  font-weight: bold
  
  background: #e1e1e1
  border: 1px solid $color-border-heavy
  +border-radius(3px)
  +linear-gradient(#f8f8f8,#e1e1e1)

.chat-dialog-inner
  padding: 5px
  background: #f8f8f8
  border: 1px solid $color-border-dark
  +border-radius(5px)
  +box-shadow-inset(0,0,3px,rgba(0,0,0,.4))
  
  @media (max-width: $ipad-max)
    margin-left: 0
  @media (min-width: $desktop-s-min)
    margin-left: 110px
    
  //  and (max-width: $desktop-s-max)
  // 
  // @media (min-width: $desktop-m-min) and (max-width: $desktop-m-max)
  // 
  // @media (min-width: $desktop-l-min)
 
  &:after
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0
  
.dialog-actions
  float: right
  width: 50px
  margin-left: 10px
  a
    text-align: center
    display: block
    margin: 0
    padding: 10px
    border: 1px solid $color-border-heavy
    &:not(:last-child)
      margin: 0 0 5px 0
    i
      pointer-events: none


.chat-messages
  position: absolute
  top: 0
  bottom: 37px
  width: 100%
  overflow: auto
.chat-footer
  position: absolute
  z-index: 5
  bottom: 0
  height: auto
  left: 0
  right: 0
  border-top: rgba(0,0,0,.2) solid 1px
  +linear-gradient(#f8f8f8,#efefef)
  
  &.with-access-to-settings
    form
      margin: 5px 61px 5px 5px
    
  &:not(.with-access-to-settings)
    a.cloud-settings-toggle
      display: none
  form
    position: relative
    margin: 5px 30px 5px 5px
    float: none
    padding-bottom: 6px
    pre
      padding: 0px
      margin-bottom: 0
      min-height: 16px
      max-height: 88px
    textarea
      width: 100%
      padding: 3px 3px 0px 20px
      font-size: 12px
      resize: none
      min-height: 18px
      max-height: 90px
      color: #404040
      background: rgba(0, 0, 0, 0.05) asset-data-url("icons/tools/comment.png") 2px 4px no-repeat
      border: rgba(0, 0, 20, 0.2) solid 1px
      margin-bottom: 0
      +border-radius(3px)
      +box-shadow-inset(0px,0px,1px,rgba(255,255,255,1))
      height: auto
  
a.cloud-settings-toggle
  position: absolute
  right: -56px
  top: 0px
  height: 25px
  width: 25px
  background-image: asset-data-url("icons/glyphicons/gray/cogwheel.png")
  background-position: center center
  background-size: 100%
  +opacity(.4)
  &:hover
    +opacity(.7)
      
.chat-message
  border-top: rgb(255,255,255) solid 1px
  border-bottom: rgba(0,0,0,.2) solid 1px
  padding: 5px
  &:after
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0
  &:first-child
    border-top: 0
  &:last-child
    border-bottom: 0
  &:hover
    .chat-message-meta
      +opacity(1)
  .chat-message-avatar
    float: left
    margin-right: 10px
    img
      width: 50px
      height: 50px
      +border-radius(5px)
  .chat-message-meta
    float: right
    margin-right: 7px
    font-size: 10px
    font-weight: bold
    +opacity(0)
    +transition(opacity .08s ease-in)
    
  .chat-message-head
    margin-bottom: 5px
    font-weight: bold
    a
      color: inherit
      &:hover
        text-decoration: none
    
  .chat-message-content
    padding-left: 60px
    p
      margin-bottom: 4px
      word-wrap: break-word
    

.chat-inspect
  position: relative

.chat-inspect-content
  position: relative
  +linear-gradient(#F8F8F8,#EFEFEF)
  border-bottom: rgba(0,0,0,.2) solid 1px
  z-index: 1
  overflow: hidden
  @each $vendor in "", -webkit-, -moz-
    #{$vendor}animation-name: slideInInspect
    #{$vendor}animation-duration: .3s
    #{$vendor}animation-delay: .1
    #{$vendor}animation-fill-mode: backwards
    #{$vendor}animation-timing-function: ease-in-out
    
img.inspect-user-avatar
  margin: 7px 14px 7px 7px
  border: 1px solid $color-border-heavy
  background: #B3B3B3

span.inspect-user-name
  line-height: 40px
  font-size: 14px
  font-weight: bold

.inspect-user-actions
  position: absolute
  right: 0
  top: 0
  bottom: 0
  margin: 7px
  width: 300px
  text-align: right
  a
    margin-left: 4px
    border-color: $color-border-heavy
    span
      pointer-events: none
      @media (max-width: $ipad-max)
        display: none
    
    







