.drop-wrapper
  @media (max-width: $phone)
  
  @media (min-width: $ipad-min)
    position: absolute
    top: 201px
    bottom: 0
    left: 0
    right: 0
    overflow: auto
    
    background: #e0e0e0 asset-data-url("bg-noise.png")
  
  form
    position: relative
    padding: 5px 30px 5px 5px
    margin: 0
    float: none
    border-bottom: 1px solid rgba(0,0,0,.3)
    +linear-gradient(#f8f8f8,#EFEFEF)
    i.icon-search
      position: absolute
      margin: 5px
    a.drop-close-search
      position: absolute
      display: none
      right: 5px
      margin: 5px
      height: 14px
      width: 14px
      line-height: 10px
      font-weight: bold
      text-align: center
      background: rgba(0,0,0,.2)
      color: rgba(255,255,255,.7)
      +border-radius(7px)
      &:hover
        background: rgba(0,0,0,.4)
        text-decoration: none
        
    input
      width: 100%
      padding: 3px 3px 0px 20px
      font-size: 12px
      resize: none
      min-height: 20px
      color: #404040
      background: rgba(0, 0, 0, 0.05)
      border: rgba(0, 0, 20, 0.2) solid 1px
      margin-bottom: 0
      +border-radius(3px)
      +box-shadow-inset(0px,0px,1px,rgba(255,255,255,1))
      height: auto
  &.with-search-results
    a.drop-close-search
      display: block

ul.drop-list
  list-style: none
  padding: 0
  margin: 0
  
// li.drop
//   display: block
//   border-bottom: 1px solid rgba(0,0,0,.3)
//   &:not(:first-child)
//     border-top: 1px solid rgba(255,255,255,.9)
//   
//   +linear-gradient(#f9f9f9,#f4f4f4)
//   &:hover
//     +linear-gradient(#f1f1f1,#e6e6e6)
//     cursor: pointer
//     
//     
//   &:after
//     content: "."
//     display: block
//     clear: both
//     visibility: hidden
//     line-height: 0
//     height: 0
// 
// 
// a.drop-preview
//   height: 92px
//   width: 122px
//   margin: 7px
//   float:  left
//   padding: 5px
//   border: 1px solid $color-border-light
//   background: #fff
//   +box-shadow(1px,1px,3px,rgba(0,0,0,.1))
//   +border-radius(3px)
//   &:hover
//     border-color: #8AB8DC
//     img
//       border-color: #8AB8DC
//   img
//     border: 1px solid $color-border-light
//     height: 90px
//     width: 120px
//     +box-shadow(1px,1px,2px,rgba(0,0,0,.1))
//     
// 
// a.drop-title
//   line-height: 18px
//   font-size: 13px
//   margin-left: 155px
//   padding: 10px 10px 10px 0
//   font-weight: bold
//   display: block
//   span
//     word-wrap: break-word
//   &:hover
//     text-decoration: none

a.drop-load-more
  margin: 10px
  padding: 5px
  display: block
  line-height: 24px
  font-size: 16px
  color: #666666
  text-align: center
  text-shadow: 1px 1px 0 rgba(255,255,255,.9)
  
  border: 1px $color-border-heavy solid
  +linear-gradient(#f8f8f8,#f4f4f4)
  +border-radius(5px)
  +transition(background .3s ease)
  &:hover
    +linear-gradient(#f4f4f4,#f0f0f0)
    color: #555555
    text-decoration: none
  
  &.no-more-results
    display: none

