ul.drop-list
  list-style: none
  margin: 0
  
  li.pending
    position: relative
    margin-bottom: 20px
    padding-left: 40px
    background: transparent $img-spinner-dark 15px center no-repeat
    h6
      font-size: 12px
    
  li.drop
    position: relative
    margin-bottom: 20px
    +border-radius(3px)
    
    &.favorite
      .details
        .summary
          &.sub
            .fav
              & > a
                display: block
                color: #FFBF00
                &:after
                  content: "★"
                &:hover
                  color: #FFBF00
                  &:after
                    content: "☆"
                    
    .details
      position: relative
      padding: 10px
      .ratings
        position: absolute
        right: 0
        top: 0
        bottom: 0
        width: auto
        a
          position: absolute
          border: none
          right: 0
          margin: 0 10px 0 0
          padding: 7px 24px 7px 7px
          background: transparent right center no-repeat
          +opacity(0)
          text-align: right
          font-weight: bold
          span
            +opacity(0)
          
          &.selected, &.loading
            +opacity(.6)
          &.up
            top: 0
            background-image: $img-arrow-up
            color: rgb(121,186,37)
            &.selected
              background-image: $img-arrow-up-color
          &.down
            bottom: 0
            background-image: $img-arrow-down
            color: rgb(250,16,0)
            &.selected
              background-image: $img-arrow-down-color 
          &.loading, &.down.loading, &.up.loading
            background-image: $img-spinner-dark
          
          &:hover
            text-decoration: none
            
      .summary
        line-height: 22px
        .icon, .fav
          float: left
          width: 22px
          height: 22px
          margin-right: 4px
          img
            margin: 3px
            max-width: 16px
            max-height: 16px
        &.main
          img.default
            margin: 3px 6px
              
          a
            line-height: 22px
            font-size: 20px
            font-weight: bold
            color: #191919
            text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9)
            
        &.sub
          .fav
            & > a
              display: none
              float: left
              width: 16px
              height: 16px
              font-size: 16px
              line-height: 16px
              padding: 2px 3px
              color: $color-dark-gray
              text-shadow: 1px 1px 1px rgba(0,0,0,0.3)
              &:after
                content: "☆"
              &:hover
                text-decoration: none
                &:after
                  content: "★"
          a
            color: lighten($color-dark-gray,30%)
            
        
        
    &:hover
      background: rgba(0,0,0,0.15)
      +box-shadow-inset(0,0,2px,rgba(0,0,0,0.3))
      .details
        .ratings
          a
            span
              +opacity(1)
            +opacity(.6)
            &.loading, &.down.loading, &.up.loading
              background-image: $img-spinner
            &:hover
              +opacity(1)
            
        .summary
          &.sub
            .fav > a
              display: block
            a
              color: lighten($color-dark-gray,90%)
              &:hover
                color: lighten($color-dark-gray,90%)
            span
              &.votes
                +opacity(1)
                color: rgba(255,255,255,1)
                &.up
                  background: transparent $img-arrow-up-small left center no-repeat
                &.down
                  background: transparent $img-arrow-down-small left center no-repeat
                
          &.main
            a
              color: #fff
              text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2)
              &:hover
                text-decoration: none
                color: #F8F8F8
                text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3)