body.drops
  &.search
    .page-header
      padding: 10px
      +linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.5))
      -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .1), inset 0 0 2px rgba(255,255,255,.7)
      -o-box-shadow: 0 2px 5px rgba(0, 0, 0, .1), inset 0 0 2px rgba(255,255,255,.7)
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .1), inset 0 0 2px rgba(255,255,255,.7)
      box-shadow: 0 2px 5px rgba(0, 0, 0, .1), inset 0 0 2px rgba(255,255,255,.7)
      border: 1px rgba(50, 50, 50, 0.3) solid
      +border-radius(5px)
      
      h2
        padding: 5px 10px
        span
          float: right
          font-size: 60%
          margin-left: 10px
    .row > .span4
      overflow: visible
      

form#drop
  padding: 0
  margin: 0 0 0 0
  padding: 10px
  +linear-gradient(#fff,#F5F5F5)
  border: 1px #B3B3B3 solid
  border-bottom: 0
  +border-radius(5px 5px 0 0)
  position: relative
  
  span.help-block
    display: none
    position: absolute
    color: #C82E21
    padding: 2px 7px
    font-weight: bold
    top: -24px
  
  i
    margin-top: 1px
  
  input
    border: 1px rgba(0, 0, 0, .3) solid
    margin: 0 0 0 5px
    &[type=text]
      +border-radius(0)
      +box-shadow-inset(0px,0,1px,rgba(0,0,0,0.1))
      background: rgba(255,255,255,.95)
  
  &.error
    span.help-block
      display: inline
    input[type=text]
      border-color: #C82E21
    input[type=submit]
      +opacity(.8)
      pointer-events: none
    
          
ul.drop-facet-list
  list-style: none
  margin: 0
  padding: 5px 10px
  +linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.5))
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .1), inset 0 0 2px rgba(255,255,255,.7)
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, .1), inset 0 0 2px rgba(255,255,255,.7)
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .1), inset 0 0 2px rgba(255,255,255,.7)
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1), inset 0 0 2px rgba(255,255,255,.7)
  border: 1px rgba(50, 50, 50, 0.3) solid
  +border-radius(5px)
  
  lh
    font-size: 14px
    line-height: 26px
    font-weight: bold
      
  li
    padding: 0
    line-height: 20px
    font-weight: bold
    text-align: right
    &:not(.list-head)
      margin-right: 0px
      background: transparent left center no-repeat
    
    &.recent
      background-image: image-url("icons/iconic/gray_dark/clock_12x12.png")
      &.active
        background-image: image-url("icons/iconic/blue/clock_12x12.png")
    &.rating
      background-image: image-url("icons/iconic/gray_dark/arrow_up_alt1_12x12.png")
      &.active
        background-image: image-url("icons/iconic/green/arrow_up_alt1_12x12.png")
    &.visits
      background-image: image-url("icons/iconic/gray_dark/eye_12x9.png")
      &.active
        background-image: image-url("icons/iconic/orange/eye_12x9.png")
    &.relevance
      background-image: image-url("icons/iconic/gray_dark/target_12x12.png")
      &.active
        background-image: image-url("icons/iconic/red/target_12x12.png")
    &.active
      a
        margin-right: 0px
        &:after
          +opacity(1)
    a
      color: $color-dark-gray
      font-weight: bold
      &:after
        content: " »"
        +opacity(0)
      &:hover
        text-decoration: none
        &:after
          +opacity(1)
      
      &.loading
        background-image: $img-spinner-dark
        background-size: 12px 12px
      

ul.drop-list
  list-style: none
  margin: 0
  padding: 0
  //margin-left: 28px
  border: 1px #B3B3B3 solid
  background: #fff
  +border-radius(0 0 5px 5px)
  
  li:last-child
    +border-radius(0 0 5px 5px)
  
  li.pending
    position: relative
    margin: 15px
    padding-left: 22px
    background: transparent $img-spinner-dark 0 top no-repeat
    h6
      line-height: 16px
      font-size: 10px
    
  li.drop
    position: relative
    padding: 14px
    +linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.5))
    //background: rgba(0,0,0,.02)
    border-bottom: 1px solid #B3B3B3
    &:last-child
      border-top: 0
    
    header
      margin: 0
      padding: 3px 0
      border-bottom: 1px #B3B3B3 solid
      img
        float: left
        max-height: 16px
        max-width: 16px
        margin: 2px 6px 2px 2px
      a
        color: $color-dark-gray
        font-weight: bold
        font-size: 16px
        text-shadow: 1px 1px 1px rgba(255,255,255,1)
        &:hover
          text-decoration: none
          color: lighten($color-dark-gray,20%)
  
    .drop-content
      position: relative
      padding: 0
      word-wrap: break-word

      &:after
        content: "."
        display: block
        clear: both
        visibility: hidden
        line-height: 0
        height: 0
            
      .float-left
        float: left
        a
          float: left
          display: block
          line-height: 0
      
      .description
        span
          font-weight: bold
      .info
        position: absolute
        bottom: 0
        left: 10px
        font-size: 12px
        color: $color-dark-gray
        background: #E6E6E6
        border: 1px solid #B3B3B3
        border-bottom: 0
        padding: 4px 7px 2px 5px
        +border-radius(3px 3px 0 0)
        font-weight: bold
        a
          color: $color-dark-gray
          &:hover
            color: lighten($color-dark-gray,20%)
        
        span
          display: inline
          margin-right: 7px

    nav
      margin: 0
      padding: 0
      border-top: 1px #B3B3B3 solid
      word-wrap: break-word
      font-size: 11px
      &:after
        content: "."
        display: block
        clear: both
        visibility: hidden
        line-height: 0
        height: 0
      a, span
        line-height: 22px
        padding: 0 2px
        display: inline
        
// IMAGE DROP

ul.drop-list > li.drop.default, ul.drop-list > li.drop.base
  .drop-content
    min-height: 45px
    
ul.drop-list > li.drop.image
  .drop-content
    .float-left


ul.drop-list > li.drop.pdf_document
  .drop-content

ul.drop-list > li.drop.youtube_video
  header
    border-color: rgb(62,62,62)
  nav
    border-color: rgb(40,40,40)
    
  .drop-content
    .float-left
      margin: 7px 15px 7px 7px
      
    .description
      padding-top: 5px
      margin-bottom: 3px
      padding-right: 10px
      span.genre
        float: right
      p
        padding-right: 10px
  
ul.drop-list > li.drop.cloudsdale_users, ul.drop-list > li.drop.cloudsdale_clouds
  header
    border-color: $color-cd-background-light
  nav
    border-color: $color-cd-background-dark
  .drop-content
    .float-left
      +border-radius(3px)
      +linear-gradient(#fff,#E8F1FF)
      +box-shadow(3px, 3px, 3px, rgba(0,0,0,.05))
      padding: 5px
      margin: 10px
      border: 1px rgba(50, 50, 50, 0.3) solid
      img
        border: 1px rgba(50, 50, 50, 0.2) solid
        
    .description
      padding-top: 5px
      margin-bottom: 3px
      padding-right: 10px
      span
        &.created-at, &.member-since
          float: left
        &.subscriber-count, &.member-count
          float: right
      p
        padding-right: 10px

ul.drop-list > li.drop.soundcloud_track, ul.drop-list > li.drop.soundcloud_user
  header
    border-color: rgb(35,133,255)
  nav
    border-color: rgb(84,162,255)
  .drop-content
    .float-left
      margin: 7px 15px 7px 7px
    .description
      padding-top: 5px
      margin-bottom: 3px
      padding-right: 10px
      span.genre
        float: right
      p
        padding-right: 10px
    
    
      
