html
  background-color: #fafafa

body
  background-color: #fafafa
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif
  font-size: 100%
  padding: 0
  margin: 0

#header
  margin-bottom: 5px
  padding: 6px 0

  text-align: left
  color: #222222
  line-height: 32px
  font-size: 18px

  color: #4d4d4d

#logo
  float: left

  width: 32px
  height: 32px

  background-size: 32px 32px
  background-position: center center
  background-repeat: no-repeat
  background-image: asset-data-url('icon/icon_email_gray.png')

#subject
  margin-left: 38px

#email-wrap
  width: 100%

#article, #article-inner
  border-radius: 2px

#article
  background: #efefef
  padding: 4px 0
  margin-bottom: 5px

#article-inner
  background: #fff
  margin: 0 4px
  padding: 20px
  border: 1px solid #d8d8d8

#footer
  text-align: left
  font-size: 12px
  a
    color: #4d4d4d
    padding: 0

  span
    padding: 0 5px

  a, span
    line-height: 20px

.button
  font-size: 16px
  font-weight: 20px
  padding: 10px
  background-color: #609CCB
  display: block
  text-align: center
  border: #333333 1px solid
  border-radius: 2px
  color: #ffffff
