html
  background-color: #fafafa

body
  background-color: #fafafa
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif

#header
  position: relative

  height: 37px

  margin-bottom: 5px

  text-align: left
  color: #222222
  line-height: 32px
  font-size: 18px

  color: #4d4d4d

#logo, #subject
  position: absolute
  top: 5px
  bottom: 0px

#logo
  left: 4px
  width: 32px
  height: 32px
  background-image: asset-data-url('icon/icon_email_gray.png')

#subject
  left: 42px
  right: 4px

#email-wrap
  width: 100%

#article, #article-inner
  border-radius: 2px

#article, #banner
  background: #efefef
  padding: 4px 0
  margin-bottom: 5px

#article-inner, #banner-inner
  background: #fff
  margin: 0 4px
  border: 1px solid #d8d8d8

#article-inner
  padding: 20px

#banner-inner
  padding: 0

#banner-inner > img
  max-width: 100%
  display: block
  margin: 0
  padding: 0

#footer
  text-align: left
  font-size: 12px
  a
    color: #4d4d4d
    padding: 0

  span
    padding: 0 5px

  a, span
    line-height: 20px

.button
  font-size: 16px
  font-weight: 20px
  padding: 10px
  background-color: #609CCB
  display: block
  text-align: center
  border: #333333 1px solid
  border-radius: 2px
  color: #ffffff
