$exploreColumnWidth: 180px
$exploreGutterWidth: 20px

body.with-active-session #explore-container
  @for $i from 1 through 12
    $iUnitWidth: ($exploreColumnWidth + $exploreGutterWidth)
    $iMinWidth: ($i * $iUnitWidth) + 241px
    $iMaxWidth: $iMinWidth + ($iUnitWidth - 1px)
    @media (min-width: $ipad-min) and (min-width: $iMinWidth) and (max-width: $iMaxWidth)
      .container,
      .navbar-static-top .container,
      .navbar-fixed-top .container,
      .navbar-fixed-bottom .container
        @include grid-core-span($i, $exploreColumnWidth, $exploreGutterWidth)
      .thumbnails
        @include grid-core-spanX($i, $exploreColumnWidth, $exploreGutterWidth)
        @include grid-core-offsetX($i, $exploreColumnWidth, $exploreGutterWidth)

body:not(.with-active-session) #explore-container
  @for $i from 1 through 12
    $iUnitWidth: ($exploreColumnWidth + $exploreGutterWidth)
    $iMinWidth: ($i) * $iUnitWidth
    $iMaxWidth: $iMinWidth + ($iUnitWidth - 1px)
    @media (min-width: $ipad-min) and (min-width: $iMinWidth) and (max-width: $iMaxWidth)
      .container,
      .navbar-static-top .container,
      .navbar-fixed-top .container,
      .navbar-fixed-bottom .container
        @include grid-core-span($i, $exploreColumnWidth, $exploreGutterWidth)
      .thumbnails
        @include grid-core-spanX($i, $exploreColumnWidth, $exploreGutterWidth)
        @include grid-core-offsetX($i, $exploreColumnWidth, $exploreGutterWidth)

#explore-container
  .navbar-inner
    background: 0
    border: 0
    +box-shadow(0,0,0,#000)
    padding: 0

  .pull-right, .pull-left
    position: absolute
    height: 35px
  .pull-right
    width: 125px
    right: 0
    left: auto
    margin: 0
    padding: 0
  .pull-left
    left: 0
    right: 135px

  form#explore-search
    position: relative
    margin-right: 32px
    &:before
      content: ""
      position: absolute
      top: 11px
      left: 9px
      z-index: 1
      display: inline-block
      width: 14px
      height: 14px
      line-height: 14px
      pointer-events: none
      background-image: $iconSpritePath
      background-position: 14px 14px
      background-repeat: no-repeat
      background-position: -48px  0
      margin-top: 1px
      +opacity(.35)
    input[type=text]
      padding-left: 26px
      margin-left: 0
      width: 100% !important
      background: rgba(0,0,0,.05)
      @each $vendor in -moz-, -o-, -webkit-, ""
        #{$vendor}box-shadow: inset 1px 1px 2px rgba(0,0,0,.2), 0 1px 1px rgba(255,255,255,1)
      &:active, &.active, &:focus
        outline: none
        border-color: $color-border-heavy
        @each $vendor in -moz-, -o-, -webkit-, ""
          #{$vendor}box-shadow: inset 1px 1px 2px rgba(0,0,0,.2), 0 1px 1px rgba(255,255,255,1)

  .explore-tab-nav > li
    margin-top: 5px
    width: 60px
    &:not(:last-child)
      margin-right: 5px
    a
      font-size: 11px
      padding: 4px 6px
      +border-radius(3px)
      line-height: 20px
      border: solid 1px transparent
      text-align: center
    &:not(.active):hover > a
      text-decoration: underline
    &.active > a
      // background: rgba(0,0,0,.1)
      +linear-gradient(#FFF,#FAFAFA)
      border-color: $color-border-light
      @each $vendor in -moz-, -o-, -webkit-, ""
        #{$vendor}box-shadow: 0 1px 1px rgba(255,255,255,1)
      &:hover
        border-color: $color-border-heavy



  .container
    @media (max-width: $phone)
      margin-bottom: 0
  .navbar
    @media (max-width: $phone)
      margin: 0
    @media (min-width: $ipad-min)
      margin: 20px 0
  .thumbnails
    @media (max-width: $phone)
      margin: 0
    @media (min-width: $ipad-min)
      margin-left: -$exploreGutterWidth
  .thumbnails > .loading-content
    position: relative
    min-height: 180px
  .thumbnails > li
    @media (max-width: $phone)
      padding: 0
      margin: 0
    @media (min-width: $ipad-min)
      padding: 0
      margin-left: $exploreGutterWidth
  .thumbnails > li > .thumbnail
    +box-shadow(0,0,0,transparent)
    border: 0
    @media (max-width: $phone)
      +border-radius(0)
      border-bottom: 1px solid $color-border-light
      padding: 10px
      +linear-gradient(#FFF,#F9F9F9)
    @media (min-width: $ipad-min)
      padding: 0
      +border-radius(3px)

  .thumb-head
    @media (min-width: $ipad-min)
      position: relative
      height: 180px
      width: 180px
      @each $vendor in -moz-, -o-, -webkit-, ""
        #{$vendor}perspective: 1000px
      &:hover

        .explore-cloud-list-image
          @each $vendor in -moz-, -o-, -webkit-, ""
            #{$vendor}transform: rotateY(180deg)
            #{$vendor}box-shadow: 0 10px 15px rgba(0,0,0,.3)

          z-index: 0
        .explore-cloud-list-more
          @each $vendor in -moz-, -o-, -webkit-, ""
            #{$vendor}transform: rotateY(360deg)
          z-index: 1

  .explore-cloud-list-image, .explore-cloud-list-more
    backface-visibility: hidden
    @media (min-width: $ipad-min)
      position: absolute
      overflow: hidden
      height: 178px
      width: 178px
      border: 1px solid $color-border-light
      +border-radius(5px)
      @each $vendor in -moz-, -webkit-, ""
        #{$vendor}transform-style: preserve-3d
        #{$vendor}transition: all .5s ease-in-out

  .explore-cloud-list-image
    background-size: 100% 100%
    background-color: #FEFEFE
    background-repeat: no-repeat
    @media (max-width: $phone)
      position: relative
      float: left
      height: 100px
      width: 100px
      margin-right: 10px
      border: 1px solid $color-border-dark
      +border-radius(3px)
    @media (min-width: $ipad-min)
      z-index: 1
      cursor: pointer
    @each $vendor in -moz-, -o-, -webkit-, ""
      #{$vendor}box-shadow: 0 2px 3px rgba(0,0,0,.2)

    &:before, &:after
      content: ""
      position: absolute
      height: 100%
      width: 100%
      top: 0
      pointer-events: none
    &:before
      z-index: 3
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0.05) 90%, rgba(0, 0, 0, 0.15) 100%)
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(67%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.15)))
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0.05) 90%, rgba(0, 0, 0, 0.15) 100%)
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0.05) 90%, rgba(0, 0, 0, 0.15) 100%)
      background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0.05) 90%, rgba(0, 0, 0, 0.15) 100%)
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0.05) 90%, rgba(0, 0, 0, 0.15) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#26000000',GradientType=0 )
    &:after
      z-index: 4
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.2) 49%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 100%)
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(49%, rgba(255, 255, 255, 0.2)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.2)))
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.2) 49%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 100%)
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.2) 49%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 100%)
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.2) 49%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 100%)
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.2) 49%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.2) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40ffffff', endColorstr='#33ffffff',GradientType=0 )

  .explore-cloud-list-more
    @media (max-width: $phone)
      margin-left: 110px
      .explore-cloud-list-title
        display: block
      .btn-join
        margin-bottom: 5px
    @media (min-width: $ipad-min)
      z-index: 0
      background: #63a0d0 image-url("bg-noise-bar.png")
      background: image-url("bg-noise-bar.png"), url(data:image/svg+xmlbase64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzYTBkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjg1YjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)
      background: image-url("bg-noise-bar.png"), -moz-linear-gradient(top,  #63a0d0 0%, #3f85b3 100%)
      background: image-url("bg-noise-bar.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63a0d0), color-stop(100%,#3f85b3))
      background: image-url("bg-noise-bar.png"), -webkit-linear-gradient(top,  #63a0d0 0%,#3f85b3 100%)
      background: image-url("bg-noise-bar.png"), -o-linear-gradient(top,  #63a0d0 0%,#3f85b3 100%)
      background: image-url("bg-noise-bar.png"), -ms-linear-gradient(top,  #63a0d0 0%,#3f85b3 100%)
      background: image-url("bg-noise-bar.png"), linear-gradient(top,  #63a0d0 0%,#3f85b3 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63a0d0', endColorstr='#3f85b3',GradientType=0 )

      @each $vendor in -moz-, -o-, -webkit-, ""
        #{$vendor}transform: rotateY(180deg)
      .explore-cloud-list-title
        display: none
      .btn-join
        position: absolute
        display: block
        bottom: 0
        left: 0
        right: 0
        margin: 5px
        padding-left: 30px

  .explore-cloud-list-title
    display: block
    height: 48px
    font-size: 14px
    line-height: 24px
    color: #444
    text-shadow: 1px 1px 0 #fff
    font-weight: bold
    @media (max-width: $phone)
      display: none
      margin-bottom: 22px
    @media (min-width: $ipad-min)
      padding-top: 5px
      text-align: center

  .explore-cloud-list-subhead
    @media (max-width: $phone)
      display: none
    padding: 5px 5px 0 5px
    margin: 0
    font-size: 13px
    font-weight: bold
    color: #FFFFFF
    text-shadow: 1px 1px 1px rgba(0,0,0,.3)
