@font-face
  font-family: 'MothproofScriptRegular'
  src: font-url('Mothproof_Script-webfont.eot')
  src: font-url('Mothproof_Script-webfont.eot?#iefix') format("embedded-opentype"), font-url('Mothproof_Script-webfont.woff') format("woff"), font-url('Mothproof_Script-webfont.ttf') format("truetype"), font-url('Mothproof_Script-webfont.svg#MothproofScriptRegular') format("svg")
  font-weight: normal
  font-style: normal