//*= require_self

@import "bootstrap/reset"
@import "bootstrap/variables"

// Links
$linkColor:         #66CCFF
$linkColorHover:    darken($linkColor, 10%)
$color-dark-gray: rgb(77,78,80)

// Colors
$green: #009900
$red: #FF0000

@import "bootstrap/mixins"
@import "bootstrap/type"
@import "bootstrap/forms"
@import "bootstrap/patterns"

@import "mixins"
@import "preload"

html
  background: #72C3E8
  background-position: 50% -0px
  background-repeat: no-repeat

body

  padding: 0
  margin: 0
  float: left
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #343434 !important
  
  #body-wrapper
    top: 0
    bottom: 0
    width: 100%
    left: 0
    right: 0
    position: absolute
    background-image: image-url("bg-noise.png"),-moz-radial-gradient(center 45%, ellipse closest-corner, #BEDAE2, #3F85B3 85%)
    background-image: image-url("bg-noise.png"), -webkit-radial-gradient(center 45%, ellipse closest-corner, #BEDAE2, #3F85B3 85%)
    background-image: image-url("bg-noise.png"),-o-radial-gradient(center 45%, ellipse closest-corner, #BEDAE2, #3F85B3 85%)
    background-image: image-url("bg-noise.png"),-ms-radial-gradient(center 45%, ellipse closest-corner, #BEDAE2, #3F85B3 85%)
    background-image: image-url("bg-noise.png"),radial-gradient(center 45%, ellipse closest-corner, #BEDAE2, #3F85B3 85%)
  
  #content-wrapper
    text-align: center
    position: absolute
    top: 50%
    left: 0px
    width: 100%
    height: 1px
    overflow: visible
    visibility: visible
    display: block
    
    #content
      width: 660px
      height: 500px
      margin-left: -330px
      background: transparent
      position: absolute
      top: -250px
      left: 50%


h1.logo
  font-size: 38px
h5.slogan, h1.logo
  font-weight: bold
  text-align: center
  color: #343434
  text-shadow: rgba(255,255,255,0.6) 0px 1px 2px
  

footer
  border:  none
  position: fixed
  bottom: 0px
  width: 100%
  p
    font-size: 12px
    line-height: 16px
    font-weight: bold
    text-align: center
    color: #343434
    text-shadow: rgba(255,255,255,0.4) 0px 1px 2px

.twipsy-inner
  background-color: #FF0000
.twipsy-arrow
  border-top-color: #FF0000 !important

input[type=text], input[type=password], select
  &.error
    border-color: #FF0000 !important

select
  height: 34px
nav
  a
    font-weight: bold
    font-size: 12px
    text-decoration: none

nav.social_connect
  position: fixed
  top: 20px
  right: 20px
  width: 114px
  a
    height: auto
    line-height: 24px
    font-size: 14px
    border-color: #4C4C4C
    float: left
    margin-bottom: 10px
    opacity: 0.5
    -moz-opacity: 0.5
    filter: alpha(opacity=50)
    text-align: right
    padding: 5px 10px
    
    &:hover
      opacity: 1
      -moz-opacity: 1
      filter: alpha(opacity=1)
    img
      float: left
      height: 24px
      margin-right: 10px

nav.options
  position: absolute
  width: 100%
  bottom: 70px
  a:not(:last-child)
    margin-right: 90px
  a
    &:visited, &
      color: #435865
      text-shadow: rgba(255,255,255,0.4) 0px 1px 2px
    &:hover
      color: #D9E1E4
      text-shadow: rgba(0,0,0,0.4) 0px -1px 1px
    

@import "sessions"
@import "users"
  