@-webkit-keyframes slideInBottomBar
  0%
    +opacity(0)
  100%
    +opacity(1)

@-moz-keyframes slideInBottomBar
  0%
    +opacity(0)
  100%
    +opacity(1)

@keyframes slideInBottomBar
  0%
    +opacity(0)
  100%
    +opacity(1)

.view-container.info
  .float-container
    .container-inner
      overflow: auto
    @media (max-width: $phone)
      .container-inner
        background: #C0D6E9
        
    @media (min-width: $ipad-min)
      .container-inner
        +linear-gradient(#C0D6E9,#D9E2E7)

.view-container.info .page-header
  font: 50px/58px 'MothproofScriptRegular', Arial, sans-serif

#letter
  +linear-gradient(#fefefe,#f8f8f8)
  +border-radius(7px)
  
  @media (max-width: $phone)
    position: relative
    padding: 20px
    margin: 10px
    border: 1px solid $color-border-heavy
  @media (min-width: $ipad-min)
    position: relative
    padding: 30px
    margin: 20px
    +box-shadow(3px,3px,10px,rgba(0,0,0,.3))
  @media (min-width: $desktop-s-min)
    position: absolute
    z-index: 1
    padding: 30px 40px
    width: 640px
    margin: 40px

  @media (min-width: $ipad-min) and (max-width: $ipad-max)
    //
  @media (min-width: $desktop-s-min)
    //
  
  h3
    margin-bottom: 10px
  p
    font-size: 15px
    line-height: 23px
    span
      margin-left: -7px
      display: block
      font: 26px/34px 'MothproofScriptRegular', Arial, sans-serif


.info-contributors-ribbon

#contributors
  @each $vendor in "", -webkit-, -moz-
    #{$vendor}animation-name: slideInBottomBar
    #{$vendor}animation-duration: .7s
    #{$vendor}animation-delay: .3s
    #{$vendor}animation-fill-mode: backwards
    #{$vendor}animation-timing-function: ease-in-out
  
  @media (max-width: $phone)
    height: 200px
    position: relative
  @media (min-width: $ipad-min)
    position: absolute
    left: 0
    right: 0
    bottom: 0
    z-index: 1
  @media (min-width: $ipad-min) and (max-width: $ipad-max)
    height: 300px
    @media (max-height: $media-height-s)
      height: 200px
  @media (min-width: $desktop-s-min)
    height: 400px
    @media (max-height: $media-height-s)
      height: 200px

.info-contributors-floor
  position: absolute
  bottom: 0
  width: 100%
  border-top: 1px solid $color-border-dark
  z-index: 0
  
  +linear-gradient(#f8f8f8,#e1e1e1)
  
  @media (max-width: $phone)
    height: 80px
  @media (min-width: $ipad-min) and (max-width: $ipad-max)
    height: 65px
  @media (min-width: $desktop-s-min)
    height: 80px

ul#info-contributors-list
  left: 1px
  position: relative
  list-style-type: none
  margin: 0
  padding: 0
  
  @media (max-width: $phone)
    height: 150px
  @media (min-width: $ipad-min) and (max-width: $ipad-max)
    height: 300px
    @media (max-height: $media-height-s)
      height: 200px
  @media (min-width: $desktop-s-min)
    height: 400px
    @media (max-height: $media-height-s)
      height: 200px

    
ul#info-contributors-list > li
  float: left
  display: block
  position: relative
  background-repeat: no-repeat
  background-position: center  
  background-image: image-url("details/wing_watermark.png")
  
  @media (max-width: $phone)
    height: 150px
    width: 180px
    background-size: auto 88%
  @media (min-width: $ipad-min) and (max-width: $ipad-max)
    height: 300px
    width: 350px
    background-size: auto 88%
    @media (max-height: $media-height-s)
      height: 200px
  @media (min-width: $desktop-s-min)
    height: 400px
    width: 450px
    background-size: auto 88%
    @media (max-height: $media-height-s)
      height: 200px
    
    
  
  @each $vendor in -moz-, -o-, -webkit-, ""
    #{$vendor}transition-property: background-size
    #{$vendor}transition-duration: .3s
    #{$vendor}transition-timing-function: ease-in-out
  
  &:hover
    background-size: auto 94%
    .info-contributor-badges
      top: 10px
      +opacity(1)
      
    h1.info-contributor-name
      +opacity(1)
      @media (max-width: $phone)
        bottom: 10px
      @media (min-width: $ipad-min) and (max-width: $ipad-max)
        bottom: 40px
        @media (max-height: $media-height-s)
          bottom: 30px
      @media (min-width: $desktop-s-min)
        bottom: 50px
        @media (max-height: $media-height-s)
          bottom: 30px
        

h1.info-contributor-name
  position: absolute
  width: 100%
  bottom: 130px
  text-align: center
  +opacity(0)
  color: #333333
  text-shadow: 1px 1px 2px rgba(0,0,0,.4), -1px -1px 0px rgba(255,255,255,.3)
  @each $vendor in -moz-, -o-, -webkit-, ""
    #{$vendor}transition-property: opacity, bottom
    #{$vendor}transition-duration: .3s
    #{$vendor}transition-timing-function: ease-in-out
  
  @media (max-width: $ipad-max)
    font-size: 20px
  @media (min-width: $desktop-s-min)
    font-size: 28px
    
.info-contributor-badges
  position: absolute
  width: 100%
  top: 50px
  text-align: center
  z-index: 2
  +opacity(0)
  @each $vendor in -moz-, -o-, -webkit-, ""
    #{$vendor}transition-property: opacity, top
    #{$vendor}transition-duration: .3s
    #{$vendor}transition-timing-function: ease-in-out
  span
    position: relative
    z-index: 2
    
    @media (max-width: $ipad-max)
      font-size: 12px
    @media (min-width: $desktop-s-min)
      font-size: 16px

ul#info-contributors-list > li    
  &.conr-zeeraw
    background-image: image-url("contributors/zeeraw.png")
  &.conr-zimber
    background-image: image-url("contributors/zimber.png")
  &.conr-aethe
    background-image: image-url("contributors/aethe.png")
  &.conr-dash
    background-image: image-url("contributors/dash.png")
  &.conr-manearion
    background-image: image-url("contributors/mane.png")
  &.conr-berwyn
  &.conr-xtux
    background-image: image-url("contributors/xtux.png")
  &.conr-six
    background-image: image-url("contributors/six.png")
  &.conr-shansai
    background-image: image-url("contributors/shansai.png")
  

  