@import "config/*"

body
  #wrapper
    #content
      padding: 0
      background: #B0ECE8 image-url("artwork/rainbowdash_on_cloud.jpg") no-repeat center top
      
      #left_column
        float: left
        width: 220px
        padding-bottom: 20px
        div
          h4.title
            float: left
            width: 170px
            margin: 5px
            font-size: 18px
            color: $color-teal-dark
          
        #available_ponies
          width: 180px
          margin: 20px 20px 0 20px
          float: left
          background: rgba(255,255,255,0.9)
          @include rounded_corners(3px,3px,3px,3px)
          @include box_shadow(#FFFFFF,20px)
          ul
            float: left
            width: 100%
            list-style: none inside
            padding: 0
            margin: 0
            
            li.pony
              float: left
              width: 100%
              border-top: 1px $color-teal-dark dashed
              padding-bottom: 10px
              &.current
                background-color: #D1E9FF
              h3.name
                float: left
                width: 160px
                margin: 5px 10px
              
              h5.type, h5.group
                width: 100px
                float: right
                margin: 5px 10px 0px 10px
                padding: 0
                
              img
                background: black
                width: 40px
                height: 40px
                float: left
                margin: 5px 10px
      
      #center_column
        float: left
        width: 600px
        padding-bottom: 20px
        
        #user_form_wrapper
          float: left
          margin: 20px
          width: 560px
          background: rgba(255,255,255,0.9)
          @include rounded_corners(3px,3px,3px,3px)
          @include box_shadow(#FFFFFF,20px)
          
          h2
            margin: 10px
          
          .left
            float: left
            width: 254px
            .field
              float: left
              margin: 10px 10px 0px 10px
            .field.tools
              margin-bottom: 10px
        
      #right_column
        float: left
        width: 200px
        padding-bottom: 20px
        
        div
          h4.title
            float: left
            width: 150px
            margin: 5px
            font-size: 18px
            color: $color-teal-dark
            text-align: right
        
        #dashboard_navigation
          width: 160px
          margin: 20px 20px 0 20px
          float: left
          background: rgba(255,255,255,0.9)
          @include rounded_corners(3px,3px,3px,3px)
          @include box_shadow(#FFFFFF,20px)
          
          ul
            list-style: none inside
            width: 100%
            float: left
            padding: 0
            margin-top: 0
            margin-bottom: 10px
            border-top: $color-teal-dark 1px dashed
            li
              float:  right
              margin: 10px 10px 0 10px
              font-weight: bold
              font-size: 18px
              font-family: "CelestiaMediumRedux"
              width: 140px
              text-align: right
              
              &.active
                a
                  color: $color-teal-dark
                
              &:hover
                a
                  color: $color-teal-dark
                  cursor: pointer
              
              
              
              
              
