body.users
  .span11
    ul.unstyled
      li
        padding-bottom: 10px
        border-bottom: 1px dotted #EEE
        .span2
          text-align: center
          img
            margin-top: 5px
        .btn
          float: right
    
  .page-header
    h1
      small
        span
          margin: 0 10px
          font-weight: bold
          &.online
            color: $green
          &.offline
            color: $red
          
  .span5
    .row.info
      .span3
        min-height: 120px
        img.avatar
          margin-left: 30px
      .span2
        min-height: 120px
        h5
          line-height: 1.3em
        h5.gender
          margin-top: 10px
        h5.kind
          margin-top: 3px
    .row.user_actions
      .span5
        min-height: 0
        ul
          list-style: none inside
          padding-left: 5px
          li
            margin-bottom: 3px
      
  &.index
    ul.media-grid
      li.span4
        h4
          line-height: 115%
          max-width: 130px
          padding-top: 6px
          padding-left: 10px
          float: left
    
  &.edit
    .input
      img
        float: left
        max-height: 28px
        max-width: 28px
        margin-right: 10px
        
    .span14
      ul.tabs
        li:first-child
          margin-left:  10px
      .row
        .span4.avatar
          text-align: center
          img
            margin: 20px 0
        .span4
          ul
            list-style: none outside
            li
              padding-top: 14px
              text-align: center
              &.not_connected
                img
                  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"
                  filter: alpha(opacity=40)
                  -moz-opacity: 0.4
                  -khtml-opacity: 0.4
                  opacity: 0.4
