body.users.new, body.authentications.create, body.restorations.new, body.users.change_password

  center
    .alert-message
      margin-top: 20px
      width: 428px
      a.close
        text-decoration: none
        
      &.hidden
        background: none
        height: 20px
        border: none
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .0)
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .0)
        box-shadow: 0 1px 2px rgba(0, 0, 0, .0)
        
  fieldset
    padding: 0px 0 60px 0
    
    span.auth_cloud
      visibility: visible
      padding: 17px
      vertical-align: baseline
      margin-right: 10px
      &.twitter
        background: transparent image-url("icons/cloud/twitter_cloud.png") center center no-repeat
        background-size: 28px
        
    input[type=text], input[type=password], select
      padding-top: 7px
      padding-bottom: 7px
      font-size: 12px
      font-weight: bold
      line-height: 14px
      margin-right: 10px
      border-color: #4C4C4C
      width: 140px
      
      &:hover
        cursor: pointer
      &:focus
        &:hover, &
          outline: 0
          cursor: auto
          -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 13px rgba(255, 255, 255, 0.9)
          -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 13px rgba(255, 255, 255, 0.9)
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 13px rgba(255, 255, 255, 0.9)
          
    input[type=submit], .form_part_next, .form_part_previous
      padding: 9px 15px 9px 15px
      margin-top: 1px
      font-size: 12px
      line-height: 14px
      font-weight: bold
      border-color: #4C4C4C
      text-decoration: none
      &:not(:last-child)
        margin-right: 10px

  
  form.form-stacked
    padding-left: 0
        
body.users
  &.edit
    label.with-image
      padding-top: 0
      & > img
        max-height: 28px
        max-width: 28px
                  
// GLOBAL PARTIAL STYLES

.page-header.user
  min-height: 80px
  background: transparent
  margin: 35px 3px 0px 4px
  border: none
  border-bottom: 1px solid rgba(255,255,255,.9)
  +box-shadow(0,0,0,#000)
  nav
    padding-bottom: 30px
    a
      margin-right: 10px
      font-weight: bold
      color: $color-dark-gray
      &:hover
        color: $color-dark-gray
        text-decoration: none
      span
        &.settings
          &:before
            content: "✐ "
          &:hover
            &:before
              color: #66CCFF
              content: "✏ "
          
        &.subscribe
          &:before
            content: "☆ "
          &:hover
            &:before
              color: #FFB800
              content: "★ "
        &.unsubscribe
          &:before
            color: #FFB800
            content: "★ "
          &:hover
            &:before
              content: "☆ "
  h1
    position: relative
    padding: 10px
    margin: 0
    text-shadow: 1px 1px 1px rgba(255,255,255,0.9)
    .avatar-container
      line-height: 0em
      padding: 7px
      float: left
      margin: -35px 25px 0 20px
      +border-radius(3px)
      +linear-gradient(#fff,#E8F1FF)
      +box-shadow(3px, 3px, 3px, rgba(0,0,0,.05))
      border: 1px rgba(50, 50, 50, 0.3) solid
      img
        border: 1px rgba(50, 50, 50, 0.2) solid
        margin: 0
        padding: 0
    span.subscribers
      float: right
      font-size: 14px
      line-height: 36px
      &:after
        content: " ★"
      
.row > .span16
  overflow: visible !important
  
  
  
  
  
  


