// @import url("https://fonts.googleapis.com/css?family=Londrina+Solid")

@import "mixins"
@import "cloudsdale_foundation"

$bg-color: #63a0d0
$bg-content-color: #f9f9ff

$bg-head-color: $primary-color
$bg-head-dark-color: darken($primary-color, 8%)

$bg-aside-color: #404B52
$bg-aside-bright-color: lighten($bg-aside-color,10%)

$bg-label-color: #aeacc6

body
  position: relative
  background-color: $bg-color
  &:before, &:after
    position: fixed
  &:before
    content: " "
    width: 256px
    height: 256px
    left: 50%
    top: 50%
    z-index: -1
    margin-top: -148px
    margin-left: -128px
    background-image: image-url("icon/icon_animation_bg.gif")
    background-position: center center
    background-repeat: no-repeat
  &:after
    content: "soon™"
    z-index: -1
    width: 256px
    height: 256px
    left: 50%
    top: 50%
    margin-top: 118px
    margin-left: -128px
    text-align: center
    font-size: 32px
    font-weight: bold
    color: #FFF

$avatar-border-color: rgba(150,150,150,.4)
.avatar
  border-color: $avatar-border-color
  border-style: solid
  border-width: 0
  display: block
  @include border-radius(50%)
  overflow: hidden
  padding: 0
  margin: 0
  &:img
    background: $bg-color

.clearfix
  @include clearfix

$act-icons: ()
$act-icons: append( $act-icons, ("link",  "icons/actions/link" ) )
$act-icons: append( $act-icons, ("share", "icons/actions/share" ) )
$act-icons: append( $act-icons, ("chat",  "icons/actions/chat" ) )
$act-icons: append( $act-icons, ("info",  "icons/actions/info" ) )
$act-icon-type:   "png"
$act-icon-hover:  "active"
@each $act-icon in $act-icons
  .action-icon-#{nth($act-icon,1)}
    $img-path: "#{nth($act-icon,2)}.#{$act-icon-type}"
    background-size: 24px 24px
    background-repeat: no-repeat
    background-position: center center
    background-image: asset-data-url($img-path)
    &.action-icon-hover:hover
      $img-path: "#{nth($act-icon,2)}-#{$act-icon-hover}.#{$act-icon-type}"
      background-image: asset-data-url($img-path)

$avatar-sizes: ()
$avatar-sizes: append( $avatar-sizes, ("micro",    8px,   1px)  )
$avatar-sizes: append( $avatar-sizes, ("mini",     16px,  2px)  )
$avatar-sizes: append( $avatar-sizes, ("small",    64px,  4px)  )
$avatar-sizes: append( $avatar-sizes, ("medium",   128px, 4px)  )
$avatar-sizes: append( $avatar-sizes, ("large",    256px, 4px)  )
$avatar-sizes: append( $avatar-sizes, ("enormous", 512px, 4px) )

@each $avatar-size in $avatar-sizes
  .avatar.#{nth($avatar-size,1)}
    $_size: nth($avatar-size,2)
    $_border-size: nth($avatar-size,3)
    border-width: $_border-size
    max-width: $_border-size + $_size
    max-height: $_border-size + $_size
    min-width: $_border-size + $_size
    min-height: $_border-size + $_size

$avatar-statuses: ()
$avatar-statuses: append( $avatar-statuses, ( "offline", $avatar-border-color  ))
$avatar-statuses: append( $avatar-statuses, ( "online",  rgba(0,255,0,.5)      ))
$avatar-statuses: append( $avatar-statuses, ( "busy",    rgba(255,0,0,.5)      ))
$avatar-statuses: append( $avatar-statuses, ( "away",    rgba(255,0,255,.5)    ))
$avatar-statuses: append( $avatar-statuses, ( "primary",        $primary-color      ))
$avatar-statuses: append( $avatar-statuses, ( "primary-dark",   $primary-dark-color ))
$avatar-statuses: append( $avatar-statuses, ( "aside",          $bg-aside-color     ))
$avatar-statuses: append( $avatar-statuses, ( "content",        $bg-content-color   ))

@each $avatar-status in $avatar-statuses
  .avatar.#{nth($avatar-status,1)}
    border-color: nth($avatar-status,2) !important
    background-color: nth($avatar-status,2) !important

$background-colors: ()
$background-colors: append( $background-colors, ("main", $bg-content-color) )

@each $background-color in $background-colors
  .bg-#{nth($background-color,1)}
    background-color: nth($background-color,2)

$content-spacing: emCalc(10px)
.content
  @include clearfix()
  &.push-left
    margin-left: $content-spacing
  &.push-right
    margin-right: $content-spacing
  &.pad
    padding: $content-spacing

$header-height: 38px
$header-padding: 6px

$sidebar-border-color: $border-secondary-color
$sidebar-text-color: #fafafa
$sidebar-spacing-x: emCalc(8px)
$sidebar-spacing-y: emCalc(10px)

.sidebar, .main
  position: fixed
  top: -0
  bottom: 0
.sidebar
  background: $bg-aside-color
  width: 280px
  left: 0
  overflow: auto

.main
  left: 280px
  right: 0
  overflow: auto
  // border-left: 4px solid $border-bright-color
  background-color: $bg-content-color//$bg-aside-bright-color

.main-inner
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

.main-header
  position: absolute
  top: 0
  left: 0
  right: 0
  background-color: $bg-head-color
  padding: $header-padding 0
  height: $header-height
  box-sizing: content-box

.main-header h1, .main-header a
  line-height: $header-height

.main-header h1
  font-size: emCalc(16px)
  font-weight: lighter
  margin: 0
  color: #fff

.main-header a
  @include border-radius(2px)
  display: inline-block
  padding: 5px 10px

  height: 24px
  line-height: 24px

  border-width: 1px
  border-style: solid
  border-color: rgba(255,255,255,.3)

  @include box-sizing(content-box)

  font-size: emCalc(13px)
  color: rgba(255,255,255,.8)

  i
    @include opacity(.8)

  &:hover
    background-color: rgba(0,0,0,.03)
    border-color: rgba(255,255,255,.4)
    color: rgba(255,255,255,.95)
    i
      @include opacity(.95)

$header-act-icons: ()
$header-act-icons: append( $header-act-icons, ("off",    "icons/header/off" ) )
$header-act-icons: append( $header-act-icons, ("add",    "icons/header/add" ) )
$header-act-icons: append( $header-act-icons, ("info",   "icons/header/info" ) )
$header-act-icons: append( $header-act-icons, ("chat",   "icons/header/chat" ) )
$header-act-icons: append( $header-act-icons, ("share",  "icons/header/share" ) )
$header-act-icons: append( $header-act-icons, ("remove", "icons/header/remove" ) )
$header-act-icon-type:   "png"
@each $header-act-icon in $header-act-icons
  .main-header a i.action-icon-#{nth($header-act-icon,1)}
    $img-path: "#{nth($header-act-icon,2)}.#{$header-act-icon-type}"
    float: right
    display: inline-block
    width: 24px
    height: 24px
    background-size: 24px 24px
    background-repeat: no-repeat
    background-position: left center
    background-image: asset-data-url($img-path)



.main-header .f-dropdown:not(.open)
  display: none

.sidebar-user
  position: relative
  width: 280px

  @include clearfix()
  padding: ($sidebar-spacing-y/2) $sidebar-spacing-x
  hgroup
    padding: $sidebar-spacing-y 0 0 0
  h4
    @include clearfix()
    font-weight: normal
    margin: 0 0 0 76px
    font-size: emCalc(14px)
    a
      line-height: emCalc(17px)
      height: emCalc((17px * 2))
      display: inline-block
      vertical-align: bottom
      color: $sidebar-text-color
      &:hover
        text-decoration: underline

  span.avatar
    position: relative
    margin-right: $sidebar-spacing-x
    border-color: $bg-aside-bright-color
    &:hover
      &:before
        content: " "
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        background-color: rgba(0,0,0,.5)
        background-image: asset-data-url("icons/sidebar/upload.png")
        background-position: center center
        background-repeat: no-repeat
        z-index: 4
  a
    pointer-events: auto

  & > div
    @include clearfix()
    position: relative
    z-index: 3

  &:after, &:before
    content: " "
    position: absolute
    display: block
    left: 0
    right: 0
    top: 0
  // &:after
  //   z-index: 1
  //   bottom: 24px
  //   background: $primary-dark-color
  &:before
    z-index: 2
    bottom: 28px
    background: $bg-aside-bright-color

.sidebar-divider
  border-bottom: 1px solid $aside-bright-color
  margin: 0 ($sidebar-spacing-x) ($sidebar-spacing-y / 2) ($sidebar-spacing-x)

.sidebar-items
  margin: 0 0 ($sidebar-spacing-y / 2) 0

.sidebar-item
  display: block
  cursor: pointer
  &:hover
    background-color: rgba(0,0,0,.1)

.sidebar-item > span
  @include clearfix()
  display: block
  padding: $sidebar-spacing-y ($sidebar-spacing-x * 2)

.sidebar-item > span > img
  display: inline-block
  width: 24px
  height: 24px
  margin-right: emCalc(7px)

.sidebar-item > span > a
  display: block
  height: 24px
  line-height: 26px
  font-size: emCalc(12px)
  color: $sidebar-text-color


.main-content
  position: absolute
  top: $header-height + ($header-padding * 2)
  bottom: 0
  left: 0
  right: 0


.loading
  background-repeat: no-repeat
  background-position: center

.spotlight
  @include clearfix()

.spotlight-card
  @include clearfix()
  @include border-radius(1px 1px 3px 3px)
  @include transition(border-color ease .3s)

  border-style: solid
  border-width: 1px 1px 2px 1px
  border-color: $border-dark-color
  background-color: #FFF
  padding: emCalc(12px)
  &:hover
    border-color: $primary-color
    & .spotlight-avatar
      border-color: $primary-color

.spotlight-title, .spotlight-subtitle
  margin: 0
  margin-right: 120px
  text-align: left
  font-weight: normal
  word-wrap: break-word

.spotlight-title
  padding-top: 10px
  color: $primary-color

.spotlight-subtitle
  color: $body-font-color-light

.spotlight p
  padding: 5px 0 5px 0
  font-size: emCalc(17px)
  line-height: emCalc(25px)
  height: emCalc(25px) * 4
  color: $body-font-bright-color

.spotlight-action
  @include clearfix
  text-align: center

.spotlight-action > a
  display: block
  margin: 5px
  &:hover
    & > div
      border-color: $primary-color
    & > span
      color: $body-font-color

.spotlight-action > a > span
  @include transition(color ease .2s)

  font-size: emCalc(13px)
  color: $body-font-color-light

.spotlight-action > a > div
  @include border-radius(50%)
  @include transition(border-color ease .2s)

  display: block
  position: relative
  width: 100%
  height: 0
  padding-top: 100%
  border-width: 2px 1px 1px 1px
  border-style: solid
  border-color: $border-dark-color
  margin-bottom: 3px
  background-color: $bg-content-color

.spotlight-action > a > div > img
  position: absolute
  display: block
  top: 0
  left: 0
  width: 100%

.spotlight-avatar
  @include border-radius(50%)
  @include transition(border-color ease .3s)

  background-color: $bg-content-color
  border-color: $border-dark-color//$primary-color
  border-width: 2px 2px 1px 2px
  border-style: solid
  padding: 4px
  width: 110px
  float: right
  margin-left: 10px
  margin-bottom: 10px
  img
    @include border-radius(50%)

.spotlight-avatar > span
  position: relative
  width: 100%
  height: 0
  padding-top: 100%
  background-repeat: no-repeat
  background-position: center center
  &.loading
    background-image: asset-data-url("details/gaze-image-loader@x2.gif")
    background-size: 48px 48px

.spotlight-avatar > span > img
  position: absolute
  display: block
  top: 0
  left: 0
  width: 100%

$messages-input-height: 32px
$messages-input-padding: 10px

.messages, .new-message
  position: absolute
  right: 0
  left: 0

.messages
  overflow: auto
  top: 0
  bottom: $messages-input-height + $messages-input-padding
  .row
    position: relative

.message
  h6, p
    padding-left: 78px
  h6
    font-weight: normal
    font-size: emCalc(14px)
    margin: emCalc(7px) 0 emCalc(3px) 0
    a
      color: $body-font-color
    small
      font-size: emCalc(13px)
    span

  p
    font-size: .875em
    margin: 0
    word-break: break-word
    color: rgba(0, 0, 0, .75)
  .last-message
    // @include clearfix

form.new-message
  @include clearfix
  bottom: 0
  margin: 0
  background-color: #EFEFF8
  textarea
    margin: 0
    max-width: 100%
    min-height: emCalc($messages-input-height)
    max-height: emCalc(($messages-input-height * 6)) - (0.5em * 2)
    overflow: auto
    resize: none
    // border: 0
    @include box-shadow(0, 0, 0, transparent)
    &:focus, &:active
      border-color: #cccccc
      @include box-shadow(0, 0, 0, transparent)
  .row
    margin: $messages-input-padding auto
