// @import url("https://fonts.googleapis.com/css?family=Londrina+Solid")

@import "mixins"
@import "cloudsdale_foundation"

@import "antiscroll"

$bg-color: #63a0d0
$bg-content-color: #fafafa
$bg-aside-color: #404B52
body
  position: relative
  background-color: $bg-color
  &:before, &:after
    position: fixed
  &:before
    content: " "
    width: 256px
    height: 256px
    left: 50%
    top: 50%
    margin-top: -148px
    margin-left: -128px
    background-image: image-url("icon/icon_animation_bg.gif")
    background-position: center center
    background-repeat: no-repeat
  &:after
    content: "soon™"
    width: 256px
    height: 256px
    left: 50%
    top: 50%
    margin-top: 118px
    margin-left: -128px
    text-align: center
    font-size: 32px
    font-weight: bold
    color: #FFF

$avatar-border-color: rgba(150,150,150,.4)
.avatar
  border-color: $avatar-border-color
  border-style: solid
  border-width: 0
  display: block
  @include border-radius(50%)
  overflow: hidden
  padding: 0
  margin: 0
  &:img
    background: $bg-color

$avatar-sizes: ()
$avatar-sizes: append( $avatar-sizes, ("micro",    8px,   1px)  )
$avatar-sizes: append( $avatar-sizes, ("mini",     16px,  2px)  )
$avatar-sizes: append( $avatar-sizes, ("small",    64px,  4px)  )
$avatar-sizes: append( $avatar-sizes, ("medium",   128px, 5px)  )
$avatar-sizes: append( $avatar-sizes, ("large",    256px, 8px)  )
$avatar-sizes: append( $avatar-sizes, ("enormous", 512px, 12px) )

@each $avatar-size in $avatar-sizes
  .avatar.#{nth($avatar-size,1)}
    $_size: nth($avatar-size,2)
    $_border-size: nth($avatar-size,3)
    border-width: $_border-size
    max-width: $_border-size + $_size
    max-height: $_border-size + $_size
    min-width: $_border-size + $_size
    min-height: $_border-size + $_size

$avatar-statuses: ()
$avatar-statuses: append( $avatar-statuses, ( "offline", $avatar-border-color  ))
$avatar-statuses: append( $avatar-statuses, ( "online",  rgba(0,255,0,.5)      ))
$avatar-statuses: append( $avatar-statuses, ( "busy",    rgba(255,0,0,.5)      ))
$avatar-statuses: append( $avatar-statuses, ( "away",    rgba(255,0,255,.5)    ))
$avatar-statuses: append( $avatar-statuses, ( "meld-main",    $bg-color))
$avatar-statuses: append( $avatar-statuses, ( "meld-content", $bg-content-color))
$avatar-statuses: append( $avatar-statuses, ( "meld-aside",   $bg-aside-color  ))

@each $avatar-status in $avatar-statuses
  .avatar.#{nth($avatar-status,1)}
    border-color: nth($avatar-status,2)
    background-color: nth($avatar-status,2)

$background-colors: ()
$background-colors: append( $background-colors, ("main", $bg-content-color) )

@each $background-color in $background-colors
  .bg-#{nth($background-color,1)}
    background-color: nth($background-color,2)

$content-spacing: emCalc(10px)
.content
  @include clearfix()
  &.push-left
    margin-left: $content-spacing
  &.push-right
    margin-right: $content-spacing
  &.pad
    padding: $content-spacing

$sidebar-border-color: rgba(255,255,255,.4)
$sidebar-text-color: #fafafa
$sidebar-spacing-x: emCalc(8px)
$sidebar-spacing-y: emCalc(10px)

.sidebar, .main
  position: fixed
  top: 0
  bottom: 0
.sidebar
  background: $bg-aside-color
  width: 280px
  left: 0
  padding-top: 64px
  overflow: auto

.main
  left: 280px
  right: 0
  .main-inner
    position: absolute
    top: 4px
    bottom: 4px
    right: 4px
    left: 4px

.sidebar-user
  position: fixed
  width: 280px
  left: 0
  top: 0
  height: 78px
  pointer-events: none

  @include clearfix()
  padding: ($sidebar-spacing-y/2) $sidebar-spacing-x
  hgroup
    padding: $sidebar-spacing-y 0
  h4, h5
    color: $sidebar-text-color
    font-weight: normal
  h4
    font-size: emCalc(14px)
    line-height: emCalc(14px)
  h5
    font-size: emCalc(12px)
    line-height: emCalc(12px)
    letter-spacing: ($sidebar-spacing-x / 5)
  span
    float: none
    margin-right: $sidebar-spacing-x
  a
    pointer-events: auto

  & > div
    position: relative
    z-index: 1

  &:after
    content: " "
    position: absolute
    display: block
    left: 0
    right: 0
    top: 0
    bottom: 25%
    background: $bg-color

.sidebar-divider
  border-bottom: 1px solid $sidebar-border-color
  margin: 0 ($sidebar-spacing-x * 2) ($sidebar-spacing-y / 2) ($sidebar-spacing-x * 2)

.sidebar-items
  margin: 0 0 ($sidebar-spacing-y / 2) 0

.sidebar-item
  display: block
  cursor: pointer
  &:hover
    background-color: rgba(0,0,0,.1)

.sidebar-item > span
  @include clearfix()
  display: block
  padding: $sidebar-spacing-y ($sidebar-spacing-x * 2)

.sidebar-item > span > img
  display: inline-block
  width: 24px
  height: 24px
  margin-right: emCalc(7px)

.sidebar-item > span > a
  display: block
  height: 24px
  line-height: 26px
  font-size: emCalc(12px)
  color: $sidebar-text-color

