<div class="spotlight">
  <div class="spotlight-inner">

    <div class="spotlight-card" style="margin-top:15px;margin-bottom:15px;">

      <div class="clearfix">
        <div class="spotlight-avatar">
          <span class="avatar loading">
            <img {{bindAttr src="target.avatar"}} />
          </span>
        </div>

        <h6>
          <span class="right spotlight-category">
            {{#linkTo "gaze.category" category}}{{category}}{{/linkTo}}
          </span>
          {{#linkTo 'profile' target.handle}}
            {{target.displayName}}
          {{/linkTo}}
        </h6>
      </div>

      <p>{{text}}</p>

      <hr />

      <div class="row">
        <div class="small-12 medium-10 large-12 large-centered columns">
          <div class="row">
            <div class="small-4 large-4 columns clearfix spotlight-action">
              {{#linkTo 'profile' target.handle}}
                <div class="action-cloud action-icon-cloud action-icon-hover"></div>
                <span>View</span>
              {{/linkTo}}
            </div>
            <div class="small-4 large-4 columns clearfix spotlight-action">
              {{#linkTo 'root'}}
                <div class="action-cloud action-icon-chat action-icon-hover"></div>
                <span>Chat</span>
              {{/linkTo}}
            </div>
            <div class="small-4 large-4 columns clearfix spotlight-action">
              {{#linkTo 'root'}}
                <div class="action-cloud action-icon-share action-icon-hover"></div>
                <span>Share</span>
              {{/linkTo}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>