%ul.chat-container
  - @clouds = current_user.clouds
  - @clouds.each do |cloud|
    - room = cloud.chat
    %li.chat-room{ data: { 'room-id' => room.id, 'room-name' => room.topic.name , 'room-topic' => room.topic.description } }
      .chat-room-wrapper
        .chat-room-handler
          = link_to room.topic.name, "#", :class => 'chat-room-trigger'
        .chat-room-container
          .chat-messages-wrapper
          = form_tag chat_room_messages_path(room.id), :remote => true, :class => "chat-room-form" do
            = text_area_tag :message