.cloud-bar
  .cloud-bar-rainbar
  .cloud-bar-rainbar
  .cloud-bar-rainbar
  .cloud-bar-rainbar
  .cloud-bar-rainbar
  .cloud-bar-rainbar
  
  %ul.cloud-list
    - if current_user
      - @clouds = current_user.clouds
      - @clouds.each do |cloud|
        %li.cloud-trigger{ data: { 'cloud-id' => cloud.id, 'cloud-name' => cloud.name } }
          .bg-image{ style: "background-image: url(#{cloud_avatar_path(cloud.avatar.url)})" }
          = link_to "#" do
            %span.cloud-notification
                        
  = link_to "","#", class: 'scroll up'
  = link_to "","#", class: 'scroll down'