%ul.chat-container
  - @rooms = Chat::Room.all
  - @rooms = [] unless current_user
  - @rooms.each do |room|
    %li.chat-room{ data: { 'room-id' => room.id, 'room-name' => room.name , 'room-topic' => room.topic } }
      .chat-room-wrapper
        .chat-room-handler
          = link_to room.name, "#", :class => 'chat-room-trigger'
        .chat-room-container
          .chat-messages-wrapper
          = form_tag chat_room_messages_path(room), :remote => true, :class => "chat-room-form" do
            = text_area_tag :message