.main-container
  %center
    %h1{ style: 'position: absolute; top: 50%; margin-top: -25px; width: 100%; vertical-align: middle; color: #f6f6f6; text-shadow: 1px 1px 1px rgba(0,0,0,.3)' }= "loading..."