.preloads
  #preload.spinner
  #preload.spinner-dark
  #preload.preload-up
  #preload.preload-up-small
  #preload.preload-down
  #preload.preload-up-small
  #preload.preload-up-color
  #preload.preload-up-color-small
  #preload.preload-down-color
  #preload.preload-down-color-small