.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      = link_to "", "#", :class => 'brand'
      .nav-collapse
        / %ul.nav.pull-left
        /   %li{ data: { :'main-menu' => 'main' } }
        /     = link_to root_path do
        /       = image_tag "icons/glyphicons/white/tint.png"
        /       = image_tag "icons/glyphicons/goldtint/tint.png", class: 'i-active'
        /       %span Drop
        /   
        /   %li{ data: { :'main-menu' => 'explore' } }
        /     = link_to explore_path do
        /       = image_tag "icons/glyphicons/white/compass.png"
        /       = image_tag "icons/glyphicons/goldtint/compass.png", class: 'i-active'
        /       %span Explore
        /   
        / 
        %ul.nav.pull-right
          %li
            %a{ href: '#/', class: 'cloud-trigger' }= "Clouds"
        /   
        /   %li.dropdown
        /     = link_to "#", class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
        /       = image_tag("icons/glyphicons/white/user.png")
        /       = image_tag "icons/glyphicons/goldtint/user.png", class: 'i-active'
        /       %b.caret
        /     %ul.dropdown-menu
        /       %li.dropdown-item-profile
        /         = link_to user_path(current_user), class: 'profile active clearfix' do
        /           = image_tag user_avatar_path(current_user.avatar.chat.url,:chat)
        /           %span= current_user.name
        /           %p= "Visit profile..."
        /       %li.divider
        /       %li
        /         = link_to edit_user_path(current_user), class: 'settings' do
        /           %i.icon-cog
        /           %span Settings
        /       %li
        /         = link_to logout_path, 'data-skip-pjax' => true, class: 'logout' do
        /           %i.icon-off
        /           %span Sign Out
        /       - if can? :reach, :admin_panel
        /         %li.divider
        /         %li.nav-header= "Admin"
        /         %li
        /           = link_to admin_index_path(:anchor => "complaints") do
        /             %i.icon-fire
        /             = "Complaints"
        /         %li
        /           = link_to admin_index_path(:anchor => "statistics") do
        /             %i.icon-signal
        /             = "Statistics"
        /       %li.divider
        /       %li.nav-header= "Help"
        /       %li
        /         = link_to faqs_path(anchor:'faq') do
        /           %span FAQ
        /       %li
        /         = link_to faqs_path(anchor:'tnc') do
        /           %span Terms & Conditions
        /       %li
        /         = link_to faqs_path(anchor:'privacy') do
        /           %span Privacy Policy
        /       %li
        /         = link_to faqs_path(anchor:'contributors') do
        /           %span Contributors