!!! 5
%html
  %head
    %title Cloudsdale
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %meta{ name: "apple-mobile-web-app-status-bar-style", content: "black-translucent" }
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = favicon_link_tag "favicons/48by48.ico"
    %meta{ name: "viewport", :content => "user-scalable=no, width=device-width", :id => "view"}
    = csrf_meta_tags
    
  %body{ "data-session" => with_format(:json) { render(template: "api/v1/sessions/base") } }
  