!!! 5
%html{ lang: "en" }
  %head
    %title= @title || "Cloudsdale"
    = stylesheet_link_tag "mobile"

    %meta{ name: "viewport", content: "user-scalable=no, width=device-width", id: "view" }

  %body
    = yield
