!!! 5
%html{ lang: "en" }
  %head
    %title= @title || "Cloudsdale"
    
    %link{ href: "/assets/mobile.css", media: "screen", rel: "stylesheet", type: "text/css" }
    / = stylesheet_link_tag "mobile"
    
    %meta{ name: "viewport", content: "user-scalable=no, width=device-width", id: "view" }

  %body
    = yield
